<div class="content-wrapper w-100 ">
  <div class="_content d-flex d-flex flex-column align-items-center w-100 h-100 bg-">
    
    <strong class="section-title align-self-center mt-4 mb-3"> NOTIFICATIONS</strong>

    <div class="w-100 d-flex flex-row justify-content-end py-2 bg-">
      <span class=" mark-as-read px-2">Mark all as read</span>
    </div>
    <div class="w-100 d-flex flex-column">
    <app-notification-item></app-notification-item>
    <app-notification-item></app-notification-item>
    </div>
  </div>
</div>