
.content-wrapper{
  height: 92vh;
  background-color: #F2F2F2;
  background-image: linear-gradient(to right, #E5007E 50% , #F2F2F2 50%);
  margin-top: 0px !important;
  padding: 0px !important;
}
._content{
  background-color: #F2F2F2;
  border-radius: 45px 0px 0px 0px;
  overflow-y: scroll;
}
.fav-wrapper{
  overflow-x: scroll;
}

.section-title{
  text-shadow: none;
  font-size: 22px;
}
.see-more a{
  text-decoration: none;
  color: #707070;
}
.section-quicklinks{
  padding-right: 0.85rem;
}
.quick-fab{
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: solid 2px white;
  background-color: #F2F2F2;
  box-shadow: 0px 3px 3px #0000001A;
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  position: relative;
  cursor: pointer;
}
.chat-quicky::after{
  content: attr(chat-unread);
  background-color: #D60B51;
  border-radius: 50%;
  width: fit-content;
  min-width: 22px;
  height: fit-content;
  min-height: 22px;
  box-shadow: 0px 3px 3px #0000001A;
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  color: white;
  margin: 0 auto;
  padding: 2px;
  font-size: 12px;
  top: 0px;
  right: -6px;
  position: absolute;
}
.quick-fab i {
  font-size: 28px;
}
.quick-fab > span{
  font-size: 28px;
}
.fab-label{
  font-size: 11px !important;
  position: absolute;
  bottom: -24px;
}
.disabled{
  box-shadow: none;
  border: none;
  background-color: #BFBFBF;
  color: #707070;
}
.section-service{
  height: 100%;
  margin-bottom: 60px;
  background-color: white;
  border-radius: 0px 45px 0px 0px;
  box-shadow: 0px 0px 3px #0000001A;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

}
.service-card{
  height: 120px;
  background-color: white;
  box-shadow: 0px 3px 3px #0000001A;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: solid 1px #f2f2f2;
  position: relative;
  cursor: pointer;
}
.notification-card::after{
  content: attr(notification-count);
  background-color: #D60B51;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  box-shadow: 0px 3px 3px #0000001A;
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  color: white;
  top: 10px;
  right: 10px;
  position: absolute;
}
.app-fav-item{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #009ee2;
  border-radius: 8px;
}
/* for mozilla */
*{
  scrollbar-width: none !important;

}