<div class="main-wrapper w-100 d-flex flex-column">

      <div class="header-wrapper">
        <div class="header-content d-flex flex-column justify-content-center align-items-center w-100 h-100">
  
          <img
            [src]="app_logo_link_src"
            alt="sekretaer_logo"
            class="app-logo"
            style="margin-top: -75px;"
          />
          
          <div class="section-header px-4 mt-5">
            <span>{{ "login.title_email_sent" | translate }}</span>
          </div>
  
          <div class="section-header-two mt-2 px-4">
            <span>{{ "login.content_email_sent_1" | translate }}</span>
          </div>

          <div class="section-header-two px-4">
            <span>{{ "login.content_email_sent_2" | translate }}</span>
          </div>

        </div>
      </div>
    
      <div class="form-wrapper">
        <div class="form-content d-flex d-flex flex-column align-items-center w-100 h-100">
  
          <div class="form-container w-100">
  
            <button
              backButton
              id="sign-in-btn"
              class="btn btn-login btn-back-to-login w-100 py-2">
                {{ "login.btn_back_to_login" | translate }}
            </button>
            
          </div>
  
        </div>
      </div>
  
  </div>
    
  