@import url('https://use.typekit.net/myb7tas.css');

button,
input,
label {
  font-family:oscine, sans-serif;
}

.main-wrapper{
  font-family: oscine, sans-serif;
  height: 100%;
  position: relative;
  font-size: medium;
  overflow: hidden;
  margin-top: 0px !important;
  padding: 0px !important;
}

.header-wrapper{
  overflow-y: scroll;
  height: 80vh;
  background-color: #2C262D;
  background-image: linear-gradient(to right, #F2F2F2 50% , #2C262D 50%);
}

.header-content{
    /* background-image: linear-gradient(to bottom,#f2f2f2,#edcfd6); */
    background: transparent linear-gradient(158deg, #F2F2F2 0%, #EDCFD6 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 0px 0px 45px 0px;
}

.section-header{
  color: var(--primaryColorDark);
  font-size: 2.0rem;
  text-align: center;
}

.section-header-two{
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}

.btn-back-to-login{
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.form-wrapper{
    height: 77.5vh;
    margin-top: 0px !important;
    padding: 0px !important;
    background-color: #eed6dc;
  }
  .form-content{
    background-color: #2C262D;
    border-radius: 45px 0px 0px 0px;
  }
  .form-container{
    padding-left: 45px !important;
    padding-right: 45px !important;
    margin-top: 45px;
  }

  .btn-login, .btn-login:focus:not(button[disabled]) {
    color: white;
    height: 50px !important;
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
    background-image: linear-gradient(131deg, var(--primaryColor), var(--primaryColorDark));
    transition: 0.1s ease-out;
  }
  .btn-login:hover {
    background-color: var(--primaryColor) !important;
    background-image: linear-gradient(131deg, #D8D3E8, #EBC3CD);
    color: #2C262D;
    border: none;
  }
  button[disabled] {
    color: white;
    cursor: default;
  }
  button[disabled]:hover {
    border-color: white !important;
    background-color: transparent;
    cursor: default;
  }
  button[disabled]:hover#sign-in-btn {
    color: white;
  }