@import url('https://use.typekit.net/myb7tas.css');

.bg-white{
  background-color: #ffffff !important;
}
.fav-item{
  /* width: 319px; */
  height: 175px;
}
._content{
  font-family: oscine, sans-serif;
  color: #2C262D;
}
.doc-icon{
  width: 40%;
  height: 40%;
}

.icon-container{
  width: 50px;
  background-color: var(--secondaryColor);
  background-image: linear-gradient(141deg, var(--primaryColor), var(--primaryColorDark));
  border-radius: 0px 0px 15px 0px;
  height: 100%;
  color: white;

}
._content{
  position: relative;
  margin: 0px !important;
}
.small-picture{
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  border-radius: 0px 0px 0px 12px;
  background-color: #f2f2f2;
}
.small-picture img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  border-radius: 0px 0px 0px 12px;
  width: 100%;
  height: 100%;
}
.fav-btn{
  position: absolute;
  top: 4px;
  right: 47px;
  padding: 3px;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.fav-btn i{
  font-size: 16px;
}
.isFav{
  background-color: var(--primaryIconColor);
}
.notFav{
  background-color: #000000 !important;
}

.risk{
  font-size: 18px;
  font-weight: bold;
  min-height: 27px;
}
.branch{
  font-size: 15px;
  font-weight: bold;

}
.price{
  font-size: 15px;
  font-weight: bold;
}
.date{
  font-size: 15px;
  font-weight: bold;
}
.company{
  font-size: 15px;
  font-weight: 300;
}

.dropstart {
  cursor: pointer;
}

.dropstart::before{
  content: "" !important;
}

.dropstart .dropdown-toggle::before {
  border: none !important;
}

.filter-icon{
  width: 20px;
  height: 20px;
  cursor:pointer;
}