.fav-item{
  width: 319px;
  height: 145px;
}

.doc-icon{
  width: 40%;
  height: 40%;
}

.icon-container{
  width: 50px;
  background-color: #E5007E;
  background-image: linear-gradient(141deg, #E5007E, #D60B51);
  border-radius: 0px 0px 15px 0px;
  height: 100%;
  color: white;

}
._content{
  position: relative;
  margin: 0px !important;
}
.small-picture{
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  border-radius: 0px 0px 0px 12px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.small-picture img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  height: 100%;
}
.fav-btn{
  position: absolute;
  top: 4px;
  right: 47px;
  padding: 3px;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.fav-btn i{
  font-size: 16px;
}
.isFav{
  background-color: #E5007E;
}
.notFav{
  background-color: #000000 !important;
}

.risk{
  font-size: 18px;
  font-weight: 500;
  min-height: 27px;
}
.branch{
  font-size: 15px;
  font-weight: 500;

}
.price{
  font-size: 15px;
  font-weight: 500;
}
.date{
  font-size: 15px;
  font-weight: 300;
}
.company{
  font-size: 15px;
  font-weight: 300;
}