<div >
<div class="col-md-12 col-12 px-4">

  <div class="d-flex flex-column w-100 bg-">
    <strong class="section-title align-self-center p-2 m-2">{{ 'overview.new_folder_dialog.title' | translate }}</strong>
    
    <form (ngSubmit)= "onSubmit(saveForm.value)" class="d-flex flex-column mt-4" #saveForm="ngForm" > 
      <div class="material-textfield mb-1">
        <input placeholder=" " type="text" [(ngModel)]="newFolderName" name="newFolderName" ngModel required/>
        <label>{{ 'overview.new_folder_dialog.text_input_label' | translate }}</label>
      </div>
      <div class="mt-5 w-100">
        <button
          id="save-btn"
          class="btn btn-login w-100 py-2"
          [disabled]="!saveForm.valid"
          type="submit"
          style="font-size:20px;"
        >
        {{ 'overview.new_folder_dialog.btn_save_label' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>

</div>
