<div class="content-wrapper w-100 ">
  <div class="_content d-flex flex-column w-100 h-100 " [ngClass]="{'allowScroll' :dropDownIsHidden, 'disableScroll':!dropDownIsHidden}">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
        <div>
          <label for="selectFile" class="fileUpload" >Please select Document</label>
          <input class="file-input d-none" type="file" 
          #selectFile  (change)="getFileName($event)" id="selectFile" formControlName="fileupload" required/>
            <app-upload-file *ngFor="let uploadFile of uploadFileArr" [uploadFile]="uploadFile" (deleteFile)="removeFile($event)"></app-upload-file>
        </div>

        <input type="textarea"  placeholder="Enter Document Name" class="fileUpload">

        <!-- <div class="share">
            <input type="checkbox" id="broker" name="broker">
            <label for="broker" style="padding:0px 2px;">Share with Broker</label>
        </div> -->

        <div class="form-group">
          <div class="selectfolder">
              <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="dataArr"
                [(ngModel)]="selectedItems"
                (click)="onMultiSelectClick()"
                [ngModelOptions]="{standalone: true}"
                >
              </ng-multiselect-dropdown>
          </div>
        </div>

        <div class ="form-group">
            <input  type="date"  formControlName="today" class="form-control" class="fileUpload"
            placeholder=" Opt.select document date" style="color:grey;" 
            [ngClass]="{ 'is-invalid': submitted && f.date.errors }"/>
                <div *ngIf="submitted && f.date.errors" class="invalid-feedback" class="error-message">
                  <div *ngIf="f.date.errors.required">Date is required!</div>
                </div>
        </div>
        <!-- <div class="fileUpload">
          <app-tags-input></app-tags-input>
        </div> -->
      

        <input type="textarea"  style="padding:30px;"placeholder="Notice" class="fileUpload">
        
        <div class="form-group">
              <button type="submit" class="btn" (click)="onUploadFile()"> Save</button>
        </div>
    </form>
  </div> 
</div>

