.content-wrapper{
  overflow: hidden;
  height: 92vh;
  background-color: #F2F2F2;
  background-image: linear-gradient(to right, #E5007E 50% , #F2F2F2 50%);
  margin-top: 0px !important;
  padding: 0px !important;
}
._content{
  background-color: #F2F2F2;
  border-radius: 45px 0px 0px 0px;
  overflow-y: scroll;
  
}
.options{
  text-align: center;
  color:grey;
  margin:10px 15px;
  border-radius: 7px;
  border: none;
  padding: 15px;
  box-sizing: border-box;

}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align:center;
}

.dropzone {
    height: 200px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 1px #aaa;
}

.share{
  justify-self: center;
}
app-upload-file{
  border-radius: 7px;
  border: none;
}
input{
  text-align: center;
  margin:10px 15px;
  border-radius: 7px;
  border: none;
  padding: 15px;
}
.selectfolder{
  text-align: center;
  color: grey;
  margin:5px 15px;
  border-radius: 7px;
  border: none;
  padding: 15px;
  background-color: #fff;
  
}
.file-input{
  color:blue;
  background-color: #fff;
  border: 1px solid black;

}

.file-input::before {
  content: '';
  display: none;
  color:white !important;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  }

.file-input::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
  }
.fileUpload{
  text-align: center;
  color: grey;
  margin:10px 15px;
  border-radius: 7px;
  border: none;
  width: 93%;
  padding: 15px;
  background-color: #fff;
}
.Upload{
    text-align: center;
    color: grey;
    margin:10px 15px;
    border-radius: 7px;
    border: none;
    width: 93%;
    padding: 15px;
    background-color: #fff;
}

.btn{
  background-color: #E5007E;
  color: #ffff;
  margin: 0px 15px 0px 400px;
}

