
  <div class="col-md-8 col-lg-4 col-12 m-auto h-100 d-flex flex-column align-items-center shadow-sm bg-light">
    
    <div class="w-100 p-2 m-2 d-flex justify-content-end ">
      <div class="quick-fab d-flex ml-auto justify-content-center align-items-center mx-2" (click)="onCloseModal()" >
        <i class="material-icons p-2 ">close</i>
      </div>
    </div>
    <div class="w-100 p-2 m-2 title bg-white">
      Notification Title
    </div>
    <div class="w-100 p-2 m-2 bg-white">
      Notification content
    </div>

    <div class="mt-auto m-2 p-2 bg-danger">
      mark as read span
    </div>
  </div>