
  <div class="col-md-8 col-lg-4 col-12 w-sm-100 m-auto h-100 d-flex flex-column align-items-center">
    
  <div class="w-100 d-flex justify-content-end ">
    <div class="quick-fab d-flex ml-auto justify-content-center align-items-center " (click)="onCloseModal()" >
      <i class="material-icons p-2 ">close</i>
    </div>
  </div>
  
  <div class="w-100 p-2 m-2 title bg-white">
    <!-- {{ 'notifications.notification_modal.title' | translate }} -->
    {{notification.infoHeadline}}
  </div>

  <div class="w-100 p-2 m-2 bg-white">
    <!-- {{ 'notifications.notification_modal.content' | translate }} -->
    {{notification.infoText}}
  </div>

  <div class="mt-auto m-2 p-2 bg-danger">
    {{ 'notifications.notification_modal.mark_as_read' | translate }}
  </div>
</div>
