<div class="_content col-md-8 col-lg-4 col-12 w-sm-100 m-auto h-100 d-flex flex-column align-items-center">
    
  <div class="w-100 d-flex justify-content-end ">
    <div class="quick-fab d-flex ml-auto justify-content-center align-items-center " (click)="onCloseModal()" >
      <i class="material-icons p-2 ">close</i>
    </div>
  </div>
  
  <div class="w-100 p-2 m-2 title bg-white">
    {{notification.infoHeadline}}
  </div>

  <div class="w-100 p-2 m-2 bg-white">
    {{notification.infoText}}
  </div>

    
  <div class="mt-auto m-2" [ngClass]="{'d-none': (contains('info') && notification.isRead === '1')||(contains('chat') && notification.isRead === '1')}" >
        
    <div class=" notif-action mx-auto  mt-3" *ngIf="contains('vamsidnr')">{{ 'notification_modal.open_contract' | translate }}</div>
        
    <div class=" notif-action mx-auto  mt-3" *ngIf="contains('dms')">{{ 'notification_modal.open_document' | translate }}</div>
        
    <div class=" notif-action mx-auto  mt-3" *ngIf="contains('docid')">{{ 'notification_modal.open_document' | translate }}</div>
        
    <div class=" notif-action mx-auto  mt-3" *ngIf="notification.isRead === '0'" (click)="markAsRead(notification.notificationId)" >{{ 'notification_modal.mark_as_read' | translate }}</div>
    
  </div>
</div>
