@import url('https://use.typekit.net/myb7tas.css');
.content-wrapper{
  height: 92vh;
  background-color: #F2F2F2;
  background-image: linear-gradient(to right, var(--primaryColor) 50% , #F2F2F2 50%);
  margin-top: 0px !important;
  padding: 0px !important;
}

._content{
  font-family: oscine, sans-serif;
  background-color: #F2F2F2;
  border-radius: 45px 0px 0px 0px;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section-content{
  min-height: 280px;
  height: inherit;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 75px; 
}

.message_from{
  font-size: 15px;
  color: #848484;
}
.message_head{
  font-weight: bold;
}

.notif-action{
  cursor: pointer;
  font-family:oscine, sans-serif;
  padding: 10px;
  min-height: 60px;
  border-color: #F2F2F2 !important;
  border: solid 2px;
  transition: 0.1s ease-out; 
}

/* .notif-action:hover{ */
  /* transform: scale(1.15); */
/* } */