@import url('https://use.typekit.net/myb7tas.css');
.filter-icon{
  width: 20px;
  height: 20px;
  cursor:pointer;
}

.section-folder-detail{
  min-height: 280px;
  height: inherit;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

*{
  touch-action: pan-y !important;
}

.btn-add{
 background-color: var(--primaryColorDark);
 color: #ffffff;
}

.text-sub-title-1{
  font-size: 15px;
}
.text-sub-title-2{
  font-size: 15px;
  color: #2C262D;
}
.text-sub-title-3{
  font-size: 18px;
  color: #2C262D;
  font-weight: bold;
}
.text-sub-title-4{
  font-size: 18px;
  color: #2C262D;
  font-weight: bold;
  letter-spacing: 4px;
}
.content-wrapper{
  height: 92vh;
  background-color: #F2F2F2;
  background-image: linear-gradient(to right, var(--primaryColor) 50% , #F2F2F2 50%);
  margin-top: 0px !important;
  padding: 0px !important;
}
._content{
  background-color: #F2F2F2;
  border-radius: 45px 0px 0px 0px;
  overflow-y: scroll;
  padding-bottom: 80px;
  font-family: oscine, sans-serif;
}
.fav-wrapper{
  overflow-x: scroll;
}

.section-title{
  text-shadow: none;
  font-size: 22px;
}

.fav-item{
  width: 80%;
  height: 180px;
}
.icon-container{
  width: 50px;
  background-color: var(--primaryColor);
  background-image: linear-gradient(141deg, var(--primaryColor), var(--primaryColorDark));
  border-radius: 0px 0px 15px 0px;
  height: 100%;
  color: white;

}
._content{
  position: relative;
  margin: 0px !important;
}
.small-picture{
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  border-radius: 0px 0px 0px 12px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.small-picture img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  height: 100%;
}
.fav-btn{
  position: absolute;
  top: 4px;
  right: 38px;
  padding: 3px;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;

}

.isFav{
  background-color: var(--primaryColor);
}
.notFav{
  background-color: #707070 !important;
}
.fav-btn i{
  font-size: 16px;
}

.risk{
  font-size: 18px;
  font-weight: 500;
  min-height: 27px;
}
.branch{
  font-size: 15px;
  font-weight: 500;

}
.price{
  font-size: 18px;
  font-weight: 500;
}
.date{
  font-size: 15px;
  font-weight: 300;
}
.company{
  font-size: 15px;
  font-weight: 300;
}

hr {
  border: none;
  border-top: 3px double rgba(0, 0, 0, 0.1);
  color: #333;
  overflow: visible;
  height: 5px;
  margin-top: 36px !important;
}

hr:after {
  content: attr(data-content);
  background-color: #F2F2F2;
  position: relative;
  font-size: 20px;
  top: -17px;
}
app-folder-card, app-document-item{
  cursor: pointer;
}

.dropstart {
  cursor: pointer;
}
.dropstart::before{
  content: "" !important;
}
.dropstart .dropdown-toggle::before {
  border: none !important;
}
.quick-fab{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  background-color: #F2F2F2;
  box-shadow: 0px 3px 3px #0000001A;
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  position: relative;
  cursor: pointer;
}
._fab{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  box-shadow: 0px 3px 3px #0000001A;
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  position: relative;
  cursor: pointer;
}
._fab:hover{

  color: var(--primaryColorDark);
}
.quick-fab i:hover{
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: var(--primaryColorDark);
}
.quick-fab:hover{
  border: solid 2.5px rgba(0, 0, 0, 0.2);
}
.map{
  color: rgba(0, 0, 0, 0.5);
  font-size: small;
}

.edit-rename{
  width: 52px;
  height: 42px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px !important;
}
 .swipedLeft{
  margin-left: -52px !important;
}
.back-arrow-icon{
  cursor:pointer;
}


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #009ee2;
  border-radius: 8px;
}
/* for mozilla */
*{
  scrollbar-width: none !important;

}
.sort-text{
  color: #848484;
  cursor: pointer;
}
.my-docs{
  color: #848484;
}
.my-subfolders{
  color: #848484;
}

.no-content-message{
  text-shadow: none;
  font-size: 17px;
  font-weight: bold;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
