<div class="content-wrapper w-100 ">
  <div class="_content d-flex flex-column align-items-center w-100 h-100">

    <div class="d-flex justify-content-between w-100 mb-2 px-3 pt-3">
    
        <div class="d-flex justify-content-center align-items-center" (click)="onBackNavClick()" >
          <i class="material-icons p-2 back-arrow-icon ">arrow_back_ios</i>
        </div>
  
        <div class="p-2">
          <span class="text-sub-title-4 page-title">{{ 'folder-detail.title' | translate }}</span>
        </div>
  
        <div class="p-2">
          <div class="ml-auto btn-group dropstart align-self-center">
            <img class="filter-icon" data-bs-toggle="dropdown" aria-expanded="false" src="/assets/icon_filter_dark.svg">
            <ul class="dropdown-menu shadow">
              <li><span class="dropdown-item" href="" *ngIf="folder.isFavorite==0" (click)="markFav(folder)" >{{ 'folder-detail.folder_side_menu_item_1' | translate }}</span></li>
              <li><span class="dropdown-item" href="" *ngIf="folder.isFavorite==1" (click)="unmarkFav(folder)" >{{ 'folder-detail.folder_side_menu_item_2' | translate }}</span></li>
              <li><span class="dropdown-item" href="" (click)="openModal(folder)" >{{ 'folder-detail.folder_side_menu_item_3' | translate }}</span></li>
            </ul>
          </div>
        </div>
  
    </div>
    
    <div class="section-folder-detail w-100 d-flex flex-column pt-3 px-3">
      
        <div class="d-flex justify-content-start ms-2">
          <span class="text-sub-title-3">{{folder.folderName}} </span>
        </div>
    
        <!-- documents -->
        <div class="d-flex pt-1 mb-1">
          <div class="p-2">
            <span class="text-sub-title-2 my-docs">{{ 'folder-detail.documents' | translate }}</span>
          </div>
          <div class="ms-auto p-2">
            <span class="text-sub-title-2 sort-text" (click)="sortByDocDate()">
              {{ 'folder-detail.date_filter_label' | translate }}
              <img class="filter-icon" src="/assets/icon_date_filter.svg">
            </span>
          </div>
        </div>
    
        <div class="d-flex align-self-center align-items-center mb-2">
          <button class="btn btn-lg btn-add" (click)="onAddDocument()">{{ 'folder-detail.add_new_document' | translate }}</button>
        </div>
        
        <div class="d-flex my-2 documentItem"  *ngFor="let doc of folder.docs; let i = index"  (swipe)="onSwipe($event, doc)" >
          <app-document-item class="w-100 m-1"  [ngClass]="{'swipedLeft':doc.swipedLeft}" [doc]=doc (tap)="onClick(doc)"></app-document-item>
      
          <div class=" edit-rename p-2 d-flex align-self-center justify-content-center align-items-center bg-white "
            [ngClass]="{'d-none':!doc.swipedLeft}"
            (click)= "renameFileModal(doc)" >
              <i class="material-icons">mode_edit</i>
          </div>
        </div>
    
        <!-- subfolders -->
        <div class="d-flex pt-3 mb-1">
          <div class="p-2">
            <span class="text-sub-title-2 my-subfolders">{{ 'folder-detail.subfolder' | translate }}</span>
          </div>
          <div class="ms-auto p-2">
            <span class="text-sub-title-2 sort-text" (click)="sortSubFoldersDate()">
              {{ 'folder-detail.date_filter_label' | translate }}
              <img class="filter-icon" src="/assets/icon_date_filter.svg" >
            </span>
          </div>
        </div>
    
        <div class="d-flex align-self-center align-items-center mb-2">
          
          <div class="d-flex flex-column mx-3 justify-content-center align-items-center" (click)="addNewFolder()">
            <button class="btn btn-lg btn-add">{{ 'folder-detail.add_subfolder' | translate }}</button>
          </div>
    
        </div>
    
        <app-sub-folder-card class="mt-2" (click)="onFolderCardClick(subfolder)" *ngFor="let subfolder of folder.subFolders; let i = index " [folder]=subfolder  ></app-sub-folder-card>
    
    </div>

  </div>
</div>
