.bottom-nav{
    height: 100%;
    width: 60px;
    color: white;
    background-color: var(--primaryColor);
  }
  
  .bottom-nav a {
    text-decoration: none;
    color: white;
  }
  .bottom-nav a.active {
    text-decoration: none;
    color: var(--secondaryColor);
  }
  
  ._nav-item{
    width: 100%;
    margin-top: 16px;
  }