<div class="content-wrapper w-100 ">
  <div class="_content d-flex d-flex flex-column align-items-center w-100 h-100 ">

    <div class="section-chat w-100 d-flex flex-column pt-3 ">
        <strong class="section-title align-self-center p-2"> CHAT </strong>


        <div class="chat bg-">
  
        <div class="chat-texts">
          
          <div class="text">
            <div class="profile-pic"> <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt=""> </div>
            <div class="text-content">
                <h5>Miss Broker</h5>
              Lorem ipsum dolor sit amet.<span class="timestamp">12:00hrs</span></div>
          </div>
          
          <div class="text sent">
            <!-- <div class="profile-pic"><img src="https://images.unsplashh.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></div> -->
            <div class="text-content"><h5>Laurie</h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, saepe?<span class="timestamp">12:00hrs</span></div>
          </div>
          
          <div class="text">
            <div class="profile-pic"> <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt=""> </div>
            <div class="text-content"><h5>Miss Broker</h5>Lorem ipsum dolor sit amet.<span class="timestamp">12:00hrs</span></div>
          </div>
          
          <div class="text">
            <div class="profile-pic"> <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt=""> </div>
            <div class="text-content"><h5>Miss Broker</h5> Lorem ipsum dolor sit amet.<span class="timestamp">12:00hrs</span></div>
          </div>
          
          <div class="text sent">
            <!-- <div class="profile-pic"><img src="https://images.unsplashh.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></div> -->
            <div class="text-content"><h5>Laurie</h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, saepe?<span class="timestamp">12:00hrs</span></div>
          </div>
          
          <div class="text">
            <div class="profile-pic"> <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt=""> </div>
            <div class="text-content"><h5>Miss Broker</h5>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.<span class="timestamp">12:00hrs</span></div>
          </div>
          <div class="text">
            <div class="profile-pic"> <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt=""> </div>
            <div class="text-content"><h5>Miss Broker</h5>Lorem ipsum dolor sit amet.<span class="timestamp">12:00hrs</span></div>
          </div>
          
          <div class="text sent">
            <!-- <div class="profile-pic"><img src="https://images.unsplashh.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></div> -->
            <div class="text-content"><h5>Laurie</h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, saepe?<span class="timestamp">12:00hrs</span></div>
          </div>
          
        </div>
        
        <div class="send-message bg-">
          <div class="message-text">
            <div class="smiley"><i class="lni lni-smile"></i></div>
             <input type="text" placeholder="Send Message">
            <!-- <div class="attachment"><i class="lni lni-upload"></i></div> -->
          </div>
          <button>
            <i class="material-icons send-icon">send</i>
          </button>
        </div>
        
        
      </div>
    </div>
  </div>
</div>