<div class="folder-bg-transparent">
  
  <div class="folder-top shadow-sm">
    <span></span>
  </div>

  <div class="content bg-white shadow">
    <div class="w-100 d-flex flex-column">
    
      <div class="d-flex justify-content-start ms-2">
        <div class="p-2">
          <div class="d-flex flex-column">
            <div class="text-content fs-6">{{folder.folderName}}</div>
          </div>
        </div>
        <div class="ms-auto p-2">
          <div class="d-flex fav-btn align-items-center justify-content-center"
          [ngClass]="{'isFav': isFolderFavorite == 1, 'notFav': isFolderFavorite == 0}" >
            <i class="material-icons">star</i>
          </div>
        </div>
      </div>
      
      <div class="d-flex justify-content-start ms-2">
        <div class="ms-auto p-2">
          <div class="folder-documents">{{ docNumber }} {{ 'sub_folder_card.documents' | translate }}</div>
          <div class="folder-documents">{{ subFolderNumber }} {{ 'sub_folder_card.sub_folders' | translate }}</div>
        </div>
      </div>
      
    </div>
  </div>

</div>