<div class="content-wrapper w-100 ">
    <div class="_content d-flex flex-column w-100 h-100 ">

<!--section header -->
        <div class="d-flex justify-content-between mb-2 px-4 pt-3 w-100">
            <div class="d-flex" class="back" backButton>
                <i class="material-icons p-2 back-arrow-icon">arrow_back_ios</i>
            </div>
            <div class="p-2">
                <span class="section-title d-flex justify-content-center">{{ 'change-password.page_title' | translate }}</span>
            </div>
            <div class="p-2">
            </div>
        </div>
<!--contains main content -->
        <div class="align-items-center px-1 w-100">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="inputDiv form-group">
                    <label class="inputLabel" for="password">{{ 'change-password.sub_title_1' | translate }}</label>
                    <input type="password" id="currentpassword" formControlName="currentpassword"  class="form-control">
                  </div>
                  <div class="inputDiv form-group">
                    <label class="inputLabel" for="password">{{ 'change-password.sub_title_2' | translate }}</label>
                    <input type="password" id="newpassword" formControlName="newpassword"  class="form-control">
                  </div>
                  <div class="inputDiv form-group">
                    <label class="inputLabel" for="password">{{ 'change-password.sub_title_3' | translate }}</label>
                    <input type="password" id="confirmpassword" formControlName="confirmpassword" class="form-control">
                  </div>
                  <button type="submit" class="btn">{{ 'change-password.submit_btn' | translate }}</button>
                  
            </form>
        </div>
    </div>
</div>

