<div class="content-wrapper w-100 ">
    <div class="_content d-flex flex-column w-100 h-100 ">

        <div class="d-flex flex-column justify-content-center mb-2 px-4 pt-3">
            <strong class="section-title align-self-center p-2">{{ 'change-password.page_title' | translate }}</strong>
            <img class="align-self-center mt-1" src="\assets\Gruppe 321.svg"/>
            <p class="align-self-center mt-2">{{ 'change-password.sub_title_1' | translate }}</p>
        </div>
        
        <div class="d-flex flex-column align-items-center w-100">

            <div class="d-flex flex-column justify-content-center mt-4">
                <div class="align-self-center">{{ 'change-password.sub_title_2' | translate }}</div>
                <div class="align-self-center">{{ 'change-password.sub_title_3' | translate }}</div>
            </div>

            <div class="form-container d-flex flex-column w-100 h-100">
                <form (ngSubmit)="newPassword()">
                    <div class="material-textfield mt-2 d-flex inner-addon right-addon">
                        <input
                          placeholder="{{ 'change-password.field_placeholder' | translate }}"
                          [type]="showPassword ? 'text' : 'password'"
                          class="pwd-control"
                          [(ngModel)]="oldPassword"
                          ngModel
                          required
                        />
                        <div>
                            <img alt="show" class="far password_show" 
                             (click)="showPassword = !showPassword"
                             [class.hide]="showPassword"
                             src="\assets\show_password.svg">
                            <i alt="hide" class="far material-icons" 
                            (click)="showPassword = !showPassword"
                            [class.hide]="!showPassword">visibility_off</i>
                        </div>
                    </div>

                    <div class="mt-2 w-100">
                        <button
                          id="proceed-btn"
                          [disabled]="oldPassword.length < 4"
                          class="btn btn-login w-100 py-2">
                        <span>{{ 'change-password.submit_btn' | translate }}</span>
                        </button>
                    </div>

                    <div class="d-flex mt-4" style="cursor:pointer;" backButton>
                        <div class="d-flex" >
                          <i class="material-icons p-2 ">arrow_back_ios</i>
                        </div>
                        <div class="py-2">
                          <span class="align-self-center">
                              {{ 'settings.go_back' | translate }}
                          </span>
                        </div>
                    </div>

                </form>
             </div>
            
           
            </div>
    </div>
</div>

