<div class="content-wrapper w-100 ">
  <div class="_content d-flex flex-column w-100 h-100 ">

    <div class="d-flex flex-column justify-content-center mb-2 px-4 pt-3">
      <strong class="section-title align-self-center p-2">{{ 'settings.main_title' | translate }}</strong>
      <img class="align-self-center" src="\assets\Gruppe 218.svg"/>
      <p class="align-self-center">{{ 'my-data.page_sub_title_1' | translate }}</p>
  </div>

  <div class="section-data d-flex flex-column px-3 w-100">
    <form (ngSubmit)="onSubmit(personalDetailsForm.value)"  #personalDetailsForm ="ngForm">
          <div class="mb-4 details_subtitle">
            <span>{{ 'my-data.page_sub_title_2' | translate }}:</span>
          </div>
          <!-- 
          <label>Gender</label>
          <div class="cselect">
              <select class="options-textfield">
                <option selected>Male</option>
                <option >Female</option>
              </select>
          </div>
         
           -->
          <!-- <div class="material-textfield">
            <input
              placeholder=" "
              type="text"
              name="username"
              ngModel
              required
            />
            <label>Title</label>
          </div> -->
          
          <div class="material-textfield">
            <input
              placeholder=" "
              type="text"
              name="firstName"
              ngModel
              required
              value="{{myName[1]}}"
            />
            <label>{{ 'my-data.title_first_name' | translate }}</label>
          </div>
          <div class="material-textfield">
            <input
              placeholder=" "
              type="text"
              name="lastName"
              ngModel
              required
              value="{{myName[0]}}"
            />
            <label>{{ 'my-data.title_last_name' | translate }}</label>
          </div>
          
          <div class="material-textfield">
            <input
              placeholder=" "
              type="text"
              name="telephone"
              ngModel
              required
              value="{{myStreet[1]}}"
            />
            <label>{{ 'my-data.title_telephone' | translate }}</label>
          </div>
          
          <div class="material-textfield">
            <input
              placeholder=" "
              type="text"
              name="street"
              ngModel
              required
              value="{{myStreet[0]}}"
            />
            <label>{{ 'my-data.title_street' | translate }}</label>
          </div>
          
          <div class="material-textfield">
            <input
              placeholder=" "
              type="text"
              name="number"
              ngModel
              required
              value="{{myStreet[1]}}"
            />
            <label>{{ 'my-data.title_number' | translate }}</label>
          </div>
          
          <div class="material-textfield">
            <input
              placeholder=" "
              type="text"
              name="postalCode"
              ngModel
              required
              value="{{myZipCode}}"
            />
            <label>{{ 'my-data.title_postalCode' | translate }}</label>
          </div>
          
          <div class="material-textfield">
            <input
              placeholder=" "
              type="text"
              name="city"
              ngModel
              required
              value="{{myCity}}"
            />
            <label>{{ 'my-data.title_city' | translate }}</label>
          </div>
          

          <button 
            id="save-btn" 
            type="submit"
            class="btn btn-login  py-2" >
              <span>{{ 'my-data.save_btn' | translate }}</span>
          </button>

          <div class="d-flex navigate_back" (click)="onBackNavClick()" >
            <i class="material-icons py-2 back-arrow-icon">arrow_back_ios</i>
            <span class="py-2 back">{{ 'my-data.back_btn' | translate }}</span>
          </div>
    </form>
  </div>
  
 

  </div>
</div>