@import url('https://use.typekit.net/myb7tas.css');
.content-wrapper{
  height: 92vh;
  background-color: #F2F2F2;
  background-image: linear-gradient(to right, var(--primaryColor) 50% , #F2F2F2 50%);
  margin-top: 0px !important;
  padding: 0px !important;
}
._content{
  background-color: #F2F2F2;
  border-radius: 45px 0px 0px 0px;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 60px;
  font-family: oscine, sans-serif;
}

.section-my-data{
  min-height: 280px;
  height: inherit;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home-icon-fabs{
  overflow-x: scroll;
  min-height: 100px;
}

.section-title{
  text-shadow: none;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2.5px;
}
.my-data-card{
  height: 250px;
  border-radius: 0px 0px 45px 0px;
}
.my-data-icon{
  border-radius: 50%;
  width: 142px;
  height:142px;
  background-color: white;
  margin-bottom: -76px;
  position: relative;
}

.my-data-img{
  height: 80%;
  width: 80%;
  object-position: center center;
  position: absolute;
  
}

.tel{
  color: #050505 ;
  text-decoration: none;
}
.email{
  color: #050505 ;
  word-break: break-all;
  white-space: normal;
}
.chat-bubble-link{
  background-color: #284464;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  color: white;
  font-size: medium;
  cursor: pointer;
}
.back{
  cursor:pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home-fab-icons-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.home-fab-icons-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: scroll;
}

.text-title{
  text-shadow: none;
  font-size: 16px;
  font-weight: bold;
}
.sub-text-title{
  text-shadow: none;
  font-size: 16px;
}

.text-content{
  text-shadow: none;
  font-size: 16px;
}
.my-data-city{
  margin-right:5px;
  margin-left: 16px;
}
.details_subtitle{
  color: #575756;
  border-bottom: 2px solid white;
  padding: 0.5rem 0.7rem 0rem 0.7rem;
}

.btn-login{
  background-image: linear-gradient(131deg, var(--primaryColor), var(--primaryColorDark));
  border-color: var(--primaryColor) !important;
  width: 100%;
  color: #ffff;
  border-radius:7px;
  border: none;
  cursor: pointer;
  font-family:oscine, sans-serif;
  display: block;
  margin-top:25px;
}
.btn-login:hover{
  background-image: linear-gradient(131deg, #D8D3E8, #EBC3CD);
  color: #2C262D;
  border: none;
}
.navigate_back{
  display: block;
  cursor: pointer;
  margin-top:20px;
  margin-bottom: 20px;

}
.section-data{
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.material-textfield {
  position: relative;
  width: 100%;
  border-bottom: 2px solid white;
  margin-bottom: 24px;
}

.material-textfield > label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 20%;
  transform: translateY(-25%);
  color: #575756;
  background-color: inherit;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}
.material-textfield > input {
  font-size: 1rem;
  outline: none;
  border:none;
  border-radius: 7px;
  padding: 0.5rem 0.7rem 0rem 0.7rem;
  width: 100%;
  color: #000;
  background-color:#F2F2F2;
  transition: 0.1s ease-out;
}


.material-textfield > input:focus + label {
  color: #575756;
  background-color: inherit;
  top: 0;
  transform: translateY(-75%) scale(0.9);
}

.material-textfield > input:not(:placeholder-shown) + label {
  color: #575756;
  top: 0;
  transform: translateY(-75%) scale(0.9);
}
.border-bottom-white{
  border-bottom: 1px solid white;
}


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #009ee2;
  border-radius: 8px;
}
/* for mozilla */
*{
  scrollbar-width: none !important;

}

/* For Medium Mobile (375px) */
@media screen and (max-width: 375px){

  .text-title{
    text-shadow: none;
    font-size: 12px;
    font-weight: bold;
  }
  
  .text-content{
    text-shadow: none;
    font-size: 12px;
  }

}


.cselect select { appearance: none; }
.cselect::after { content:url("/assets/icon_date_filter.svg"); }

.cselect {
  position: relative;
  margin-bottom: 20px;
}
.cselect::after {
  position: absolute;
  top: 0; right: 0;
}
.options-textfield {
  position: relative;
  height:20px;
  width: 100%;
  background-color:#F2F2F2;
  border: none;
}
.options-textfield:focus {
  outline: none;
  background-color:#F2F2F2;
  border: none;
}
.back{
  color: #848484;
  font-weight: bold;
}