<div class="main-wrapper w-100 d-flex flex-column">
  <div class="header-wrapper">
    <div
      class="header-content d-flex d-flex justify-content-center align-items-center w-100 h-100"
    >
      <div class="logo-container align-self-center">
        
        <img
          [src]="app_logo_link_src"
          alt="sekretaer_logo"
          class="app-logo shadow-sm"
          style="max-width: 120px"
        />
        
      </div>
    </div>
  </div>

  <div class="form-wrapper">
    <div
      class="form-content d-flex d-flex flex-column align-items-center w-100 h-100"
    >
      <div class="section-header">
        <span>{{ "login.title_login" | translate }}</span>
      </div>

      <div class="form-container d-flex flex-column w-100 h-100">
        <form
          (ngSubmit)="onSubmit(loginForm.value)"
          class="d-flex flex-column"
          #loginForm="ngForm"
        >
          <div class="material-textfield mb-1">
            <input
              placeholder=" "
              type="text"
              [(ngModel)]="username"
              name="username"
              ngModel
              required
              id="username"
              autocomplete="username"
            />
            <label for="username">{{ "login.username" | translate }}</label>
          </div>
          <div class="material-textfield mt-4 mb-1 d-flex inner-addon right-addon">
            <input
              placeholder=" "
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="password"
              name="password"
              ngModel
              required
              id="password"
              autocomplete="current-password"
            />
            <label for="password">{{ "login.password" | translate }}</label>
            <div (click)="showPassword = !showPassword">
              <i alt="show" class="far material-icons" 
              [class.show]="showPassword">visibility</i>

              <i alt="hide" class="far material-icons" 
              [class.hide]="!showPassword">visibility_off</i>
            </div>
          </div>
          <div class="mt-5 w-100">
            <button
              id="sign-in-btn"
              class="btn btn-login w-100 py-2"
              [disabled]="
                (!(username.length > 1 && password.length > 1) &&
                !loginForm.valid) || submitted
              "
              type="submit"
              style="font-size: 20px"
            >
            <span *ngIf="submitted" class="spinner-border" style="width: 1.5rem; height: 1.5rem;" role="status"></span>
            <span *ngIf="!submitted">{{ "login.btn_login" | translate }}</span>
            </button>
          </div>
          <div class="row forgot-password mt-3">
            <a (click)="onForgotPasswordSelected()">
              <span>{{ "login.forgot_password" | translate }}</span>
            </a>
          </div>
        </form>
        <div class="d-flex justify-content-between bottom-links w-100 mt-auto py-3">
          <a class="pointer" (click)="onPolicySelected()">
            <span>{{ "login.privacy_policy" | translate }}</span>
          </a>
      
          <a class="pointer" (click)="onTermsAndConditionSelected()">
            <span>{{ "login.terms" | translate }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
