<div class="bg-white shadow mx-3 d-flex fav-item">
  <div class="icon-container d-flex flex-column align-items-center ">
    <i class="material-icons mt-2"> </i>
  </div>
  <div class="d-flex w-100 ">
    <div class="d-flex flex-column _content ml-auto w-100 ">
      <span class="folder-name px-2 mt-3 mb-1">{{folder.folderName }}</span>
      <span class="folder-desc px-2 ">folder description</span>

      <div class="fav-btn d-flex align-items-center justify-content-center"
      [ngClass]="{'isFav': folder.isFavorite == 1, 'notFav': folder.isFavorite == 0}" >
        <i class="material-icons">star</i>
      </div>

    </div>

  </div>
</div>