<div class="content-wrapper w-100 ">
  <div class="_content d-flex flex-column align-items-center w-100 h-100 bg-">

    <div class="d-flex justify-content-center mb-2 px-4 pt-3">
        <strong class="section-title align-self-center p-2">{{ 'favourites.title' | translate }}</strong>
    </div>
      
    <div class="fav-wrapper w-100 d-flex flex-column align-items-center p-3 bg-">  
        <div class="no-favourites-found d-flex justify-content-center m-4 w-100 bg-" *ngIf="favArrHasNoContent()" >
          {{ 'favourites.no_favourites' | translate }}
        </div>

        <!-- Favourite Insurances -->
        <div  *ngIf="favContractArr.length > 0" class="w-100 d-flex flex-column align-items-center extra-folders bg-">
          <p class="section-sub-title text-center m-3">{{ 'favourites.title_lable_insurances' | translate }}</p>
          <app-fav-item 
            class="w-100" 
            *ngFor="let favItem of favContractArr; let index = index" 
            [contractItem]="favItem" 
            (favoriteEvent)="refresh($event)">
          </app-fav-item>
        </div>
        
        <!-- Favourite Folders -->
        <div *ngIf="favFoldersArr.length > 0" class="w-100 d-flex flex-column align-items-center extra-folders bg-" id="extra-folders" >
          <p class="section-sub-title text-center mt-5 mb-1">{{ 'favourites.title_lable_folders' | translate }}</p>
          <app-folder-card class="col-12" *ngFor="let item of favFoldersArr" [folder]=item  (click)="onFolderCardClick(item)"></app-folder-card>
        </div>
    </div>

  </div>
</div>
