<div class="main-wrapper w-100 d-flex flex-column">

    <!-- ngif in settings, after login -->
    <div *ngIf="inSettings" class="header-wrapper-container">
        <div class="header-wrapper">
            
            <div class="d-flex flex-column align-items-center">
                
                <!-- pink logo -->
                <img *ngIf="sekretar_pink_logo"
                    src="../assets/logo.svg"
                    alt="sekretaer_logo"
                    class="app-logo"
                />

                <!-- blue logo -->
                <img *ngIf="sekretar_blue_logo"
                    src="../assets/sekretar_blue_logo.svg"
                    alt="sekretaer_logo"
                    class="app-logo"
                />

            </div>
            
        </div>
    </div>

    <!-- ngif before login -->
    <div  *ngIf="!inSettings" class="header-wrapper-nologin">
            
        <div class="d-flex flex-column align-items-center">
            
            <!-- pink logo -->
            <img *ngIf="sekretar_pink_logo"
                src="../assets/logo.svg"
                alt="sekretaer_logo"
                class="app-logo"
            />

            <!-- blue logo -->
            <img *ngIf="sekretar_blue_logo"
                src="../assets/sekretar_blue_logo.svg"
                alt="sekretaer_logo"
                class="app-logo"
            />

        </div>
        
    </div>
    
    <div [ngClass]="{'section-content-in-settings': inSettings, 'section-content': !inSettings}">

        <div class="align-items-center  w-100 h-100">

            <div style="overflow-y: scroll;" class="d-flex flex-column">

                <!-- Begining of content -->
                <div class="terms_policy_content p-2 m-2">
    
                    <div class="mt-3">
                        <h3>{{ "privacy_policy_and_terms_content.a1_title" | translate }}</h3>
                    </div>
            
                    <div>
                        <p>{{ "privacy_policy_and_terms_content.a1_content_intro" | translate }}</p>  
                    </div>
                    
                    <div>
                        <p>{{ "privacy_policy_and_terms_content.a1_support_the_broker" | translate }}</p>
                    </div>
            
                    <div>
                        <ul>
                            <li>
                                <strong>{{ "privacy_policy_and_terms_content.a1_support_the_broker_option_1_title" | translate }}</strong>
                                {{ "privacy_policy_and_terms_content.a1_support_the_broker_option_1_content" | translate }}
                            </li>

                            <li>
                                <strong>{{ "privacy_policy_and_terms_content.a1_support_the_broker_option_2_title" | translate }}</strong>
                                {{ "privacy_policy_and_terms_content.a1_support_the_broker_option_2_content" | translate }}
                            </li>

                            <li>
                                <strong>{{ "privacy_policy_and_terms_content.a1_support_the_broker_option_3_title" | translate }}</strong>
                                {{ "privacy_policy_and_terms_content.a1_support_the_broker_option_3_content" | translate }}
                            </li>
                        </ul>
                    </div>
                    
                    <div>
                        <h3>{{ "privacy_policy_and_terms_content.a2_title" | translate }}</h3>
                    </div>
            
                    <div>
                        <p>{{ "privacy_policy_and_terms_content.a2_content_intro" | translate }}</p>
                    </div>
            
                    <div>
                        <p>{{ "privacy_policy_and_terms_content.a2_content_paragraph_1" | translate }}</p>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_paragraph_1_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_paragraph_1_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_paragraph_1_option_3" | translate }}
                            </li>
                        </ol>
                    </div>
            
                    <div>
                        <p>{{ "privacy_policy_and_terms_content.a2_content_paragraph_2" | translate }}</p>
                    </div>

                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a2_content_sub_title_1" | translate }}</h4>
                    </div>
            
                    <div>
                        <p>{{ "privacy_policy_and_terms_content.a2_content_sub_title_1_content" | translate }}</p>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a2_content_sub_title_2" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_2_option_1" | translate }}  
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_2_option_2" | translate }} 
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_2_option_3" | translate }}
                            </li>
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a2_content_sub_title_3" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_3_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_3_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_3_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_3_option_4" | translate }}
                            </li>
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a2_content_sub_title_4" | translate }}</h4>
                    </div>
            
                    <div>
                        <p>
                            {{ "privacy_policy_and_terms_content.a2_content_sub_title_4_intro" | translate }}
                        </p>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_4_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_4_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_4_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_4_option_4" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_4_option_5" | translate }}
                            </li>

                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_4_option_6" | translate }}
                            </li>
            
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a2_content_sub_title_5" | translate }}</h4>
                    </div>
            
                    <div>
                        <p>
                            {{ "privacy_policy_and_terms_content.a2_content_sub_title_5_intro" | translate }}
                        </p>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a2_content_sub_title_6" | translate }}</h4>
                    </div>
            
                    <div>
                        <p>
                            {{ "privacy_policy_and_terms_content.a2_content_sub_title_6_intro" | translate }} 
                        </p>
                    </div>
            
                    <div>
                        <span>{{ "privacy_policy_and_terms_content.phoenix_digital_address_1" | translate }}<br>
                        {{ "privacy_policy_and_terms_content.phoenix_digital_address_2" | translate }}<br>
                        {{ "privacy_policy_and_terms_content.phoenix_digital_address_3" | translate }}</span>
                    </div>
            
                    <div>
                        <p>{{ "privacy_policy_and_terms_content.a2_content_sub_title_6_send_email" | translate }}<a href="mailto:datenschutz@sekretaer-online.de"> datenschutz@sekretaer-online.de</a></p>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a2_content_sub_title_7" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>{{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_1" | translate }}
                                <ol class="k">
                                    <li>
                                        {{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_1_a" | translate }}
                                    </li>

                                    <li>
                                        {{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_1_b" | translate }}
                                    </li>

                                    <li>
                                        {{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_1_c" | translate }}
                                    </li>

                                    <li>
                                        {{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_1_d" | translate }}
                                    </li>

                                    <li>
                                        {{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_1_e" | translate }}
                                    </li>

                                </ol>
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_3" | translate }} 
                                <a href="mailto:datenschutz@sekretaer-online.de">datenschutz@sekretaer-online.de</a>
                            </li>
            
                            <li> 
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_4" | translate }}
                                <a href="mailto:service@sekretaer-online.de">service@sekretaer-online.de</a>.</li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_5" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a2_content_sub_title_7_option_6" | translate }}
                            </li>
                        </ol>
                    </div>
            
                    <div>
                        <p>
                            {{ "privacy_policy_and_terms_content.a2_content_ending_paragraph" | translate }} 
                            <a href="mailto:datenschutz@sekretaer-online.de">datenschutz@sekretaer-online.de</a> .
                        </p>
                    </div>

                    <div>
                        <br>
                            <h3>{{ "privacy_policy_and_terms_content.a3_title" | translate }}</h3>
                        <br>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_1" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_1_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_1_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_1_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_1_option_4" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_1_option_5" | translate }}
                            </li>

                        </ol>
                    </div>
            
                    <div>
                        <h4>
                            {{ "privacy_policy_and_terms_content.a3_content_sub_title_2" | translate }}
                        </h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_2_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_2_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_2_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_2_option_4" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_2_option_5" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_2_option_6" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_2_option_7" | translate }}
                            </li>
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_3" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_3_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_3_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_3_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_3_option_4" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_3_option_5" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_3_option_6" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_3_option_7" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_3_option_8" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_3_option_9" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_3_option_10" | translate }}
                            </li>

                        </ol>
                    </div>
            
                    <div>
                        <h4>
                            {{ "privacy_policy_and_terms_content.a3_content_sub_title_4" | translate }}
                        </h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_4_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_4_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_4_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_4_option_4" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_4_option_5" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_4_option_6" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_4_option_7" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_4_option_8" | translate }}
                            </li>
            
                        </ol>
                    </div>
            
                    <div>
                        <span>
                            {{ "privacy_policy_and_terms_content.phoenix_digital_address_1" | translate }}<br>
                            {{ "privacy_policy_and_terms_content.phoenix_digital_address_2" | translate }}<br>
                            {{ "privacy_policy_and_terms_content.phoenix_digital_address_3" | translate }}<br>
                            M. <a href="mailto:service@sekretaer-online.de">service@sekretaer-online.de</a><br>
                            {{ "privacy_policy_and_terms_content.phoenix_digital_address_4" | translate }}<br>
                            {{ "privacy_policy_and_terms_content.phoenix_digital_address_5" | translate }}<br>
                            {{ "privacy_policy_and_terms_content.phoenix_digital_address_6" | translate }}<br>
                        </span>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_5" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_5_option_1" | translate }}
                            </li>
                            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_5_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_5_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_5_option_4" | translate }}
                            </li>
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_6" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_6_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_6_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_6_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_6_option_4" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_6_option_5" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_6_option_6" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_6_option_7" | translate }}
                            </li>
                            
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_7" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_7_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_7_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_7_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_7_option_4" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_7_option_5" | translate }}
                            </li>
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_8" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_8_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_8_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_8_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_8_option_4" | translate }}
                            </li>
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_9" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_9_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_9_option_2" | translate }}
                            </li>
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_10" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_10_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_10_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_10_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_10_option_4" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_10_option_5" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_10_option_6" | translate }}
                            </li>

                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_10_option_7" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_10_option_8" | translate }}
                            </li>
            
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_11" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_11_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_11_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_11_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_11_option_4" | translate }}
                            </li>

                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_12" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_12_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_12_option_2" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_12_option_3" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_12_option_4" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_12_option_5" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_12_option_6" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_12_option_7" | translate }}
                            </li>

                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_13" | translate }}</h4>
                    </div>
            
                    <div>
                        <ol>
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_13_option_1" | translate }}
                            </li>
            
                            <li>
                                {{ "privacy_policy_and_terms_content.a3_content_sub_title_13_option_2" | translate }}
                            </li>
                        </ol>
                    </div>
            
                    <div>
                        <h4>{{ "privacy_policy_and_terms_content.a3_content_sub_title_14" | translate }}</h4>
                    </div>
            
                    <div>
                        <p>
                            {{ "privacy_policy_and_terms_content.a3_content_sub_title_14_part_1" | translate }}
                                <a href="mailto:service@sekretaer-online.de">service@sekretaer-online.de</a>
                            {{ "privacy_policy_and_terms_content.a3_content_sub_title_14_part_2" | translate }} 
                        </p>
                    </div>
            
                </div>
                <!-- end content -->

                <div [ngClass]="{'close-button-bottom-distance-in-settings': inSettings, 'close-button-bottom-distance': !inSettings}">
                    <button class="close-btn mb-2" (click)="onCloseButtonClicked()">CLOSE</button>
                </div>

            </div>

        </div>
    </div>

  </div>

