<div class="main-wrapper w-100 d-flex flex-column">

    <!-- ngif in settings, after login -->
    <div *ngIf="inSettings" class="header-wrapper-container">
        <div class="header-wrapper">
            
            <div class="d-flex flex-column align-items-center">
                <img
                    src="../assets/logo.svg"
                    alt="sekretaer_logo"
                    class="app-logo"
                />
            </div>
            
        </div>
    </div>

    <!-- ngif before login -->
    <div  *ngIf="!inSettings" class="header-wrapper-nologin">
            
        <div class="d-flex flex-column align-items-center">
            <img
                src="../assets/logo.svg"
                alt="sekretaer_logo"
                class="app-logo"
            />
        </div>
        
    </div>
    
    <div [ngClass]="{'section-content-in-settings': inSettings, 'section-content': !inSettings}">

        <div class="align-items-center  w-100 h-100">

            <iframe 
                id="iFrame" 
                class="w-100 h-100" 
                src="https://docs.google.com/document/d/e/2PACX-1vQIeFDfOPBPm354Ezx4V3C5y_DMo4JiQvzhs11VuwdmMeEI9AylQyfD91h_RH0d6g/pub?embedded=true">
            </iframe>
            
            <div class="">
                <button class="close-btn my-2" (click)="onCloseButtonClicked()">CLOSE</button>
            </div>

        </div>
    </div>

  </div>

