@import url('https://use.typekit.net/myb7tas.css');
.content-wrapper{
  height: 92vh;
  background-color: #F2F2F2;
  background-image: linear-gradient(to right, var(--primaryColor) 50% , #F2F2F2 50%);
  margin-top: 0px !important;
  padding: 0px !important;
}

._content{
  background-color: #F2F2F2;
  border-radius: 45px 0px 0px 0px;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 60px;
  font-family: oscine, sans-serif;
}
.section-title{
    text-shadow: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2.5px;
  }
  
.form-container{
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
.material-textfield {
    position: relative;
    height: 50px;
    width:100%;
}
.material-textfield> input {
    font-size: 1rem;
    outline: none;
    border:none;
    border-radius: 7px;
    padding: 1rem 0.7rem;
    width: 100%;
    color: #575756;
    background-color: white;
}
.btn{
    background-image: linear-gradient(131deg, var(--primaryColor), var(--primaryColorDark));
    border-color: var(--primaryColor) !important;
    color: #ffff;
    border-radius:7px;
    border: none;
    height: 50px !important;
    cursor: pointer;
    font-family:oscine, sans-serif;
    display: block;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
  }
  .btn:hover{
    background-image: linear-gradient(131deg,var(--primaryButtonColor-100), var(--primaryButtonColor-200));
    color: #2C262D;
    border: none;
  }
  .navigate_back{
    display: block;
    cursor: pointer;
    margin-bottom:20px;
  }
  .back{
    color: #848484;
    font-weight: bold;
  }
  .hide {
    display: none;
  }
  .back{
    color: #848484;
    font-weight: bold;
  }
  .inner-addon { 
    position: relative; 
  }
  .inner-addon .far, .inner-addon .fas {
    position: absolute;
    padding: 10px 30px;
    z-index: 100;
    cursor: pointer;
    color: #848484;
  }
  .left-addon .far, .left-addon .fas  { left:  0px; }
  .right-addon .far, .right-addon .fas { right: 0px; }
  
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  
  .password_show{
    position: absolute;
    padding: 20px 30px !important;
    z-index: 100;
    cursor: pointer;
    color: #848484;
  }