<div class="content-wrapper w-100 ">
    <div class="_content d-flex flex-column w-100 h-100 ">

        <div class="d-flex flex-column justify-content-center mb-2 px-4 pt-3">
            <strong class="section-title align-self-center p-2">{{ 'change-password.page_title' | translate }}</strong>
            <img class="align-self-center mt-1" src="\assets\Gruppe 321.svg"/>
            <p class="align-self-center mt-2">{{ 'change-password.sub_title_1' | translate }}</p>
        </div>

        <div class="d-flex flex-column align-items-center w-100">

              <div class="d-flex flex-column justify-content-center mt-4">
                <div class="align-self-center">{{ 'new-password.sub_title_1' | translate }}</div>
                <div class="align-self-center">{{ 'new-password.sub_title_2' | translate }}</div>
            </div>

            <div class="form-container d-flex flex-column w-100 h-100">
                <form>
                    <div class="material-textfield mt-2 d-flex inner-addon right-addon">
                        <input
                          placeholder="{{ 'new-password.placeholder_1' | translate }}"
                          [type]="showPassword ? 'text' : 'password'"
                          class="pwd-control"
                          name="password"
                          ngModel
                          required
                        />
                        <div>
                            <img alt="show" class="far password_show" 
                             (click)="showPassword = !showPassword"
                             [class.hide]="showPassword"
                             src="\assets\show_password.svg">
                            <i alt="hide" class="far material-icons" 
                            (click)="showPassword = !showPassword"
                            [class.hide]="!showPassword">visibility_off</i>
                        </div>

                    </div>

                    <div class="material-textfield mt-3 d-flex inner-addon right-addon">
                        <input
                          placeholder="{{ 'new-password.placeholder_2' | translate }}"
                          [type]="showNewPassword ? 'text' : 'password'"
                          class="pwd-control"
                          name="password"
                          ngModel
                          required
                        />
                        <div>
                            <img alt="show" class="far password_show" 
                             (click)="showNewPassword = !showNewPassword"
                             [class.hide]="showNewPassword"
                             src="\assets\show_password.svg">
                            <i alt="hide" class="far material-icons" 
                            (click)="showNewPassword = !showNewPassword"
                            [class.hide]="!showNewPassword">visibility_off</i>
                        </div>
                    </div>

                    <div class="mt-2 w-100">
                        <button
                          id="proceed-btn"
                          class="btn w-100 py-2" (click)="onreset()">
                        <span>{{ 'new-password.submit_btn' | translate }}</span>
                        </button>
                    </div>

                    <div class="d-flex navigate_back mt-3" (click)="onBackNavClick()" >
                        <i class="material-icons py-2 back-arrow-icon">arrow_back_ios</i>
                        <span class="py-2 back">{{ 'change-password.back_btn' | translate }}</span>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
