<div class="d-flex w-100 document-item bg-light my-1 p-1">
<div class="document-icon ">
  <img class="icon" src="/assets/doc-icon.svg" alt="">
</div>
<div class="d-flex flex-column my-2 w-100" (click)="onDocumentClick(doc)">
  <span class="name px-2">{{doc.name | shortenText: 20 }}</span>
  <span class="date px-2">{{doc.createdAt}}</span>
</div>
<div class="more bg-">
  <div class="more-icon">      
  <div class="btn-group dropstart">
      
    <i class="material-icons  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >more_horiz</i>
    
    <ul class="dropdown-menu shadow">
      <li><span class="dropdown-item" href="" (click)="onDocumentClick(doc)">{{ 'contract_detail.document_side_menu_item_1' | translate }}</span></li>
      <li><span class="dropdown-item" href="" (click)="openModal(doc)">{{ 'contract_detail.document_side_menu_item_2' | translate }}</span></li>
    </ul>
  </div>
  </div>
</div>
</div>
