<div class="d-flex w-100">
    <div class="bg-white shadow w-100 d-flex document-item" (click)="onDocumentClick(doc)">
      <div class="icon-container d-flex flex-column">
          <img class="doc-icon" src="/assets/icon_document.svg" alt="">
      </div>
      <div class="d-flex justify-content-between w-100 bg-">
          <div class="d-flex flex-column _content bg-">
              <span class="fw-bold px-2 mt-3 mb-1">{{doc.name | shortenText: 20 }}</span>
              <span class="fw-normal px-2 ">{{doc.createdAt}}</span>
          </div>
          <div class="d-flex justify-content-center align-items-center p-2 bg-" >
              <img class="doc-broker-icon" src="/assets/icon_broker.svg">
          </div>
      </div>
    </div>
    <div class=" edit-rename p-2 d-flex align-self-center justify-content-center align-items-center bg-white d-none">
        <i class="material-icons">mode_edit</i>
    </div>

</div>