@import url('https://use.typekit.net/myb7tas.css');
._content{
    position: absolute;
    width: 100%;
    z-index: 20;
    height:100%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.logo{
    margin: auto auto;
    height:147px;
    width: 147px;
    -webkit-transition: all 1s cubic-bezier(0.2, 1.02, 0.53, -0.01);
    transition: all 1s cubic-bezier(0.2, 1.02, 0.53, -0.01);
    transform: scale(1);
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.75);
	}
	20% {
		transform: scale(0.85);
	}

	80% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.75);
	}
}
