@import url('https://use.typekit.net/myb7tas.css');
.main-wrapper{
    height: 100%;
    position: relative;
    font-size: medium;
    font-family:oscine, sans-serif;
    overflow: hidden;
    background-color: #F2F2F2;
    background-image: linear-gradient(#f2f2f2,#edcfd6);
    margin-top: 0px !important;
    padding: 0px !important;
  }

  .section-title{
    text-shadow: none;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2.5px;
  }
  
  .header-wrapper-nologin{
    position: absolute;
    width: 100%;
    z-index: 1;
    min-height: 100px;
    background: rgba(226, 226, 226, 0.075);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    /* border: 1px solid rgba(218, 216, 216, 0.3); */
  }
  .header-wrapper-container{
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 45px;
    min-height: 100px;
    background: rgba(226, 226, 226, 0.075);
    box-shadow: 0 4px 10px -10px rgba(0, 0, 0, 1.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    /* border: 1px solid rgba(218, 216, 216, 0.3); */
  }
  .header-wrapper{
    position: relative;
    width: 100%;
    z-index: 1;
    min-height: 100px;
  }
  .header-wrapper::before{
    content: '';
    width: 45px;
    height: 45px;
    background-color: var(--primaryColor);
    position: absolute;
    top: -45px;
    left: 0;
  }
  .header-wrapper::after{
    content: '';
    width: 45px;
    height: 45px;
    background: #F2F2F2;
    position: absolute;
    top: -45px;
    left: 0;
    border-top-left-radius: 45px;
  }

  .section-content{
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 100px;
    padding-top: 140px;
    background-image: linear-gradient(#F2F2F2,#EDCFD6);
  }

  .section-content-in-settings{
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 228px;
    padding-top: 180px;
    background-image: linear-gradient(#F2F2F2,#EDCFD6);
  }

  ._content{
    background-color: #F2F2F2;
    background-image: linear-gradient(#f2f2f2,#edcfd6);
    border-radius: 45px 0px 0px 0px;
    overflow-y: scroll;
    padding-bottom: 80px;
  }
  
  .close-btn{
    background-image: linear-gradient(131deg, var(--primaryColor), var(--primaryColorDark));
    border-color: var(--primaryColor) !important;
    width: 80%;
    color: #ffff;
    border-radius:7px;
    border: none;
    padding:9px 5px;
    cursor: pointer;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:16px;
    font-size: 20px;
    letter-spacing: 2.5px;
  }

  .app-logo{
    height: 100px;
    width: 122.5px;
    margin-top: 10.6px;
    margin-left: 151px;
    margin-right: 151px;
    margin-bottom: 20.9px;
    /* padding: 8px;
    object-fit: contain;
    object-position: center center; */
  }
 
/* webkit browsers like chrome */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #009ee2;
  border-radius: 8px;
}
/* for mozilla */
*{
  scrollbar-width: none !important;

}