<div class="bottom-nav d-flex justify-content-between shadow-lg">
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 bg-info">
    <i class="material-icons">home_filled</i>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <i class="material-icons">menu</i>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <i class="material-icons">star</i>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <i class="material-icons">person_pin</i>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <i class="material-icons">settings</i>
  </div>
</div>