<div class="bottom-nav d-flex flex-column justify-content-center shadow-none">
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <a
    routerLink="home"
    routerLinkActive="active">
      <i class="material-icons">home_filled</i>
    </a>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <a
    routerLink="overview"
    routerLinkActive="active">
      <i class="material-icons">menu</i>
    </a>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <a
    routerLink="favourite"
    routerLinkActive="active">
      <i class="material-icons">star</i>
    </a>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <a
      routerLink="broker"
      routerLinkActive="active">
      <i class="material-icons">person_pin</i>
    </a>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <a
    routerLink="settings"
    routerLinkActive="active">
      <i class="material-icons">settings</i>
    </a>
  </div>
</div>