.bottom-nav{
  height:60px;
  background-color: #2C262D;
  color: white;
  border-radius: 0px 25px 0px 0px;
}

.bottom-nav a {
  text-decoration: none;
  color: white;
}
.bottom-nav a.active {
  text-decoration: none;
  color: #D60B51;
}