<div class="bottom-nav d-flex justify-content-between shadow-lg">
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <a
    routerLink="dashboard/home"
    routerLinkActive="active">
      <i class="material-icons">home_filled</i>
    </a>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <a
    routerLink="dashboard/overview"
    routerLinkActive="active">
      <i class="material-icons">menu</i>
    </a>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <i class="material-icons">star</i>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <a
      routerLink="dashboard/broker"
      routerLinkActive="active">
      <i class="material-icons">person_pin</i>
    </a>
  </div>
  <div class="_nav-item d-flex justify-content-center align-items-center col-2 ">
    <i class="material-icons">settings</i>
  </div>
</div>