<div class="d-flex flex-row justify-content-between p-3 bg-white uploadFileItem e-upload-file-list " data-file-name="java_tutorial.pdf">
    <div class="d-flex flex-column e-file-container bg-">
        <div>
            <span class="e-file-name" title="java_tutorial.pdf">{{uploadFile.fileName}}</span>
        </div>
        <span class="e-file-size">{{uploadFile.fileSize}}</span>
    </div>
    <span class="ml-auto justify-content-center align-items-center e-file-delete-btn d-flex p-2 bg-" (click)="onDeleteFile(uploadFile.fileId, uploadFile.fileName)" title="Delete file">
        <i class="material-icons align-self-center">delete</i>
    </span>
</div>
