@import url('https://use.typekit.net/myb7tas.css');
._content{
  font-family: oscine, sans-serif;
}
.notif-icon{
  width: 60px;
  max-width: 60px;
  min-height: 65px;
  max-height: 65px;
  border-radius: 0px 0px 15px 0px;
  background-color: #D60B51;
  /* background-color: #D60B51; */
}
.notif-item{
  margin-left: 30px;
  margin-right: 30px !important;
  margin-bottom: 10px;
}
.icon{
  width: 60%;
  height: 60%;
  border: none;
  object-fit: contain;
  object-position: center center;
}
.name{
  color: #2C262D;
}
.material-icons{
  font-size: 34px;
}
.date{
  font-size: 15px;
  font-weight: 300;
}

.more{
  cursor: pointer;
}
.dropstart::before{
  content: "" !important;
}
.dropstart .dropdown-toggle::before {
  border: none !important;
}
.dropdown-menu{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.read{
  color: #707070;
  font-weight: 400;
}