<div class="d-flex w-100 document-item bg-light my-1 p-1">
  <div class="notif-icon ">
    <img class="icon" src="/assets/doc-icon.svg" alt="">
  </div>
  <div class="d-flex flex-column m-2 w-100">
    <div >
    {{notifMessage | shortenText: 50 }}
    </div>
  </div>
  <div class="more">
    <div class="more-icon">
            
      <div class="btn-group dropstart">
          
        <i class="material-icons  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >more_horiz</i>
        
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
