.notif-icon{
  width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  border-radius: 7px;
  /* background-color: #D60B51; */
}
.icon{
  width: 100%;
  height: 100%;
  border: none;
  object-fit: contain;
  object-position: center center;
}
.name{
  color: #2C262D;
}
.material-icons{
  font-size: 34px;
}
.date{
  font-size: 15px;
  font-weight: 300;
}

.more{
  cursor: pointer;
}
.dropstart::before{
  content: "" !important;
}
.dropstart .dropdown-toggle::before {
  border: none !important;
}
.dropdown-menu{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.read{
  color: #707070;
  font-weight: 400;
}