<div class="d-flex w-100 document-item bg-light my-1 p-1">
  <div class="notif-icon ">
    <img class="icon" [src]="notifIcon" alt="">
  </div>
  <div class="d-flex flex-column m-2 w-100">
    <div class="" [ngClass]="{'read': notification.isRead === '1'}">
    {{notification.infoHeadline | shortenText: 50 }}
    </div>
  </div>
  <div class="more">
    <div class="more-icon">
            
      <div class="btn-group dropstart">
          
        <i class="material-icons  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >more_horiz</i>
        
        <ul class="dropdown-menu shadow">
          <li><span class="dropdown-item" href="" *ngIf="notification.assocType=='vamsidnr'">Open contract</span></li>
          <li><span class="dropdown-item" href="" *ngIf="notification.assocType=='dms'">Open document</span></li>
          <li><span class="dropdown-item" href="" *ngIf="notification.assocType=='docid'">Open document</span></li>
          <li><span class="dropdown-item" href="">Mark as read</span></li>
        </ul>
      </div>

    </div>
  </div>
</div>
