<div class="content-wrapper w-100 ">
  <div class="_content d-flex flex-column w-100 h-100 ">

  <div class="d-flex justify-content-center mb-2 px-3 pt-3">
    <strong class="section-title align-self-center p-2">{{ 'broker.title' | translate }}</strong>
  </div>
  
  <div class="section-broker d-flex flex-column px-3 w-100">

    <div class="broker-icon d-flex justify-content-center align-self-center bg-white">
      <img class="broker-img align-self-center mt-1" src="/assets/icon_broker.svg">
    </div>

    <div class="d-flex broker-card w-100 shadow bg-white mb-2">

      <div class=" d-flex flex-column pt-4 mt-5 mx-2">
        <div class="grid-container-element">
          <span class="grid-child-element text-title">{{ 'broker.inbox_label' | translate }}</span>
          <span class="grid-child-element text-content">{{brokerName}}</span>
        </div>

        <div class="grid-container-element">
          <div class="grid-child-element text-title">{{ 'broker.call_label' | translate }}</div>
          <div class="grid-child-element text-content"
            matTooltip="Click to make Phone Call"
            matTooltipPosition="right">
            <span itemprop="telephone">
              <a [href]="telto" class="tel">
                {{brokerNumber}}
              </a>
            </span>
          </div>
        </div>

        <div class="grid-container-element">
          <div class="grid-child-element text-title">
            {{ 'broker.email_label' | translate }}
          </div>
          <div class="grid-child-element text-content" 
            matTooltip="Click to send Email"
            matTooltipPosition="right">
            
              <a [href]="mailto" class="email">
                {{brokerEmail}}
              </a>
            
              
          </div>
        </div>

        <div class="d-flex mt-4">
          <span class="grid-child-element text-content">{{brokerStreet}}</span>
        </div>
        <div class="d-flex mt-2">
          <span class="grid-child-element text-content broker-city">{{brokerCity}}</span>
          <span class="grid-child-element text-content">{{brokerZipCode}}</span>
        </div>


      </div>

    </div>

    <!-- Home icons fabs-->
    <div class="d-flex px-4 pt-4 pb-5 mt-4 mb-5 col-12 home-fab-icons-scroll">
      <app-home-fab-icons> </app-home-fab-icons>
    </div>

  </div>

  </div>
</div>
