.content-wrapper{
  height: 92vh;
  background-color: #F2F2F2;
  background-image: linear-gradient(to right, #E5007E 50% , #F2F2F2 50%);
  margin-top: 0px !important;
  padding: 0px !important;
}
._content{
  background-color: #F2F2F2;
  border-radius: 45px 0px 0px 0px;
  overflow-y: scroll;
}
.section-broker{
  position: relative;
}
.section-title{
  text-shadow: none;
  font-size: 22px;
}
.broker-card{
  height: 250px;
}
.broker-icon{
  border-radius: 50%;
  width: 142px;
  height:142px;
  background-color: white;
  margin-bottom: -76px;
  position: relative;
}

.broker-img{
  height: 80%;
  width: 80%;
  object-position: center center;
  position: absolute;
  
}

.tel{
  color: #E5007E ;
  text-decoration: none;
}
.email{
  color: #E5007E ;
  
}
.chat-bubble-link{
  background-color: #284464;
  width: 103px;
  height: 103px;
  border-radius: 50%;
  color: white;
  font-size: medium;
  cursor: pointer;
}