<div class="content-wrapper w-100 ">
  <div class="_content d-flex d-flex px-3 flex-column w-100 h-100 ">
    <strong class="section-title align-self-center mt-4 mb-3"> INSURANCE</strong>
    <div class="bg-white shadow-sm w-100 d-flex fav-item">
      <div class="d-flex w-100 ">

        <div class="d-flex flex-column _card-content w-100 ">
          <span class="risk px-2 mt-3 mb-1">{{contract.details.Risk}}</span>
          <span class="insurance-number px-2">{{contract.details.ContractNumber}} </span>
          <span class="branch mt-3 px-2 ">{{contract.details.Branch}}</span>
          <span class="company px-2">{{contract.details.Company}}</span>    
          
          <span class="type px-2 mt-3 ">vollkasko versicherung</span>
          <div class="d-flex align-items-end justify-content-between w-100 py-2 ">
            <div class="date d-flex align-items-end px-2">
              <span class="">Start: </span>
              <span class="mx-2">25.05.2022</span>
            </div>
            <div class="date ml-auto px-1">
            <span class="">End: </span>
            <span class="mx-2">25.05.2022</span>
            </div>
          </div>
          <div class="price align-self-end px-2 my-2">
            <span class="amount">25 €</span>
            <span>/Jahr</span>
          </div>
    
          <div class="small-picture">
            <img class="w-100 img-responsive" src="https://images.unsplash.com/photo-1606759163253-094133091882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
          </div>
    
          <div class="fav-btn d-flex align-items-center justify-content-center">
            <i class="material-icons">star</i>
          </div>
    
        </div>
    
      </div>
    </div>

    <hr class="mx-1" id="docu-hr" data-content="" />
    <div class="d-flex section-title align-self-center align-items-center mb-3">
      <span> Add new Document </span>
    
      <div class="quick-fab d-flex flex-column mx-3 justify-content-center align-items-center">
        <i class="material-icons">add</i>
      </div>

    </div>

    <app-document-item></app-document-item>
    <app-document-item></app-document-item>
    <app-document-item></app-document-item>
    <app-document-item></app-document-item>
    
  </div>

</div>