@import url('https://use.typekit.net/myb7tas.css');
.content-wrapper{
  height: 92vh;
  background-color: #F2F2F2;
  background-image: linear-gradient(to right, var(--primaryColor) 50% , #F2F2F2 50%);
  margin-top: 0px !important;
  padding: 0px !important;
}

._content{
  font-family: oscine, sans-serif;
  background-color: #F2F2F2;
  border-radius: 45px 0px 0px 0px;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section-content{
  min-height: 280px;
  height: inherit;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 75px; 
}

.btn-add{
  background-color: var(--primaryColorDark);
  color: #ffffff;
 }

.section-title{
  text-shadow: none;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 4px;
}

.active-contract{
  color: rgb(4, 150, 40);
}

.per-month-contract-label{
  color: var(--primaryColorDark);
}

.filter-icon{
  width: 20px;
  height: 20px;
  cursor:pointer;
}
.back-btn{
  cursor:pointer;
}

.icon-container{
  width: 50px;
  background-color: var(--primaryColor);
  background-image: linear-gradient(141deg, var(--primaryColor), var(--primaryColorDark));
  border-radius: 0px 0px 15px 0px;
  height: 100%;
  color: white;

}
._card-content{
  position: relative;
  margin: 0px !important;
}
.small-picture{
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  border-radius: 0px 0px 0px 12px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.small-picture img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  height: 100%;
}
.fav-btn{
  position: absolute;
  top: 10px;
  right:65px;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.fav-btn i{
  font-size:18px;
  position:absolute;
}

.isFav{
  background-color: var(--primaryColor);
}
.notFav{
  background-color: #000000 !important;
}

.risk{
  font-size: 18px;
  font-weight: bold;
  width: 78%;
}
.branch{
  font-size: 15px;
  font-weight: bold;
}
.price{
  font-size: 18px;
  font-weight: bold;
}
.date{
  font-size: 15px;
  font-weight: 300;
}
.company, .type, .insurance-number{
  font-size: 15px;
  font-weight: 300;
}

hr {
  border: none;
  border-top: 3px double rgba(0, 0, 0, 0.1);
  color: #333;
  overflow: visible;
  height: 5px;
  margin-top: 36px !important;
}

hr:after {
  content: attr(data-content);
  background-color: #F2F2F2;
  position: relative;
  font-size: 20px;
  top: -17px;
}

.quick-fab{
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: solid 2px white;
  background-color: white;
  color: var(--primaryColorDark);
  box-shadow: 0px 3px 3px #0000001A;
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  position: relative;
  cursor: pointer;
}
.quick-fab i {
  font-size: 36px;
}
.quick-fab span{
  font-size: 28px;
}
.fab-label{
  font-size: 11px !important;
  position: absolute;
  bottom: -24px;
}
app-document-item{
  cursor: pointer;
}
.dropstart {
  cursor: pointer;
}
.dropstart::before{
  content: "" !important;
}
.dropstart .dropdown-toggle::before {
  border: none !important;
}

.edit-rename{
  width: 52px;
  height: 42px;
  border-radius: 8px;
  margin-left: 10px !important;
}
 .swipedLeft{
  margin-left: -52px !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #009ee2;
  border-radius: 8px;
}
/* for mozilla */
*{
  scrollbar-width: none !important;

}
