<div class="content-wrapper w-100 ">
  <div class="_content d-flex flex-column w-100 h-100 ">

    <div class="d-flex justify-content-between mb-2 px-4 pt-3 w-100">
      <div class="d-flex"></div>
      <div class="p-2">
        <span class="section-title align-self-center">{{ 'settings.main_title' | translate }}</span>
      </div>
      <div class="p-2">
        <div class="ml-auto btn-group dropstart align-self-center">
          <img alt="" class="inquiries" src="\assets\Gruppe 223.svg">
        </div>
      </div>
    </div>

    <div class="section-settings align-items-center px-4 w-100">

      <div class="card d-flex flex-column mt-2 mb-2 w-100">
        <ul class="remove-list-item-bullets">
          <li class="title">{{ 'settings.sub_title_1' | translate }}</li>
        </ul>

        <ul class="cursor-pointer remove-list-item-bullets" (click)="onMyData()">
          <li>
            <img alt="" class="icon-options" src="\assets\Gruppe 218.svg"/>
            <span class="ms-3">{{ 'settings.sub_title_1_a' | translate }}</span> 
            <img alt="" class="caret-options" src="\assets\Pfad 103.svg" >
          </li>
        </ul>

        <ul class="cursor-pointer remove-list-item-bullets" (click)="onChangePassword()">
          <li>
              <img alt="" class="icon-options" src="\assets\change_your_password_icon.svg">
              <span class="ms-3">{{ 'settings.sub_title_1_b' | translate }}</span>
              <img alt="" class="caret-options" src="\assets\Pfad 103.svg">
          </li>
        </ul>

      </div>

      <div class="card d-flex flex-column mt-3 mb-2 w-100">
        <ul class="remove-list-item-bullets">
          <li class="title">{{ 'settings.sub_title_2' | translate }}</li>
        </ul>

        <ul class="cursor-pointer remove-list-item-bullets" (click)="onChangeAppLanguage()">
          <li>
            <img alt="" class="icon-options" src="\assets\change_app_language_icon.svg">
            <span class="ms-3">{{ 'settings.sub_title_2_a' | translate }}</span>
            <img alt="" class="caret-options" src="\assets\Pfad 103.svg">
          </li>
        </ul>

        <ul class="cursor-pointer remove-list-item-bullets" (click)="onChangeAppTheme()">
          <li>
            <img alt="" class="icon-options" src="\assets\change_color_icon.svg">
            <span class="ms-3">{{ 'settings.sub_title_2_b' | translate }}</span>
            <img alt="" class="caret-options" src="\assets\Pfad 103.svg">
          </li>
        </ul>

        <ul class="cursor-pointer remove-list-item-bullets" (click)="onChangePushNotificationSettings()">
          <li>
            <img alt="" class="icon-options" src="\assets\push_notifications_icon.svg">
            <span class="ms-3">{{ 'settings.sub_title_2_c' | translate }}</span>
            <img alt="" class="caret-options" src="\assets\Pfad 103.svg">
          </li>
        </ul>

      </div>

      <div class="official-card d-flex flex-column mt-3 mb-3 w-100">

        <ul class="title remove-list-item-bullets">
          <li>{{ 'settings.sub_title_3' | translate }}</li>
        </ul>

        <ul class="cursor-pointer remove-list-item-bullets" (click)="onTermsAndConditionSelected()">
          <li>
              <img alt="" class="icon-options" src="\assets\terms_and_conditions_icon.svg">
              <span class="ms-3" >{{ 'settings.sub_title_3_a' | translate }}</span>
              <img alt="" class="caret-options" src="\assets\Pfad 103.svg">
          </li>
        </ul>

        <ul class="cursor-pointer remove-list-item-bullets" (click)="onPolicySelect()">
          <li>
              <img alt="" class="icon-options" src="\assets\privacy_policy_icon.svg">
              <span class="ms-3">{{ 'settings.sub_title_3_b' | translate }}</span>
              <img alt="" class="caret-options" src="\assets\Pfad 103.svg">
          </li>
        </ul>

      </div>

      <div class="official-card d-flex flex-column mt-3 mb-3 w-100 logout" (click)="onLogoutSelect()">
        <ul class="cursor-pointer remove-list-item-bullets">
          <li>
            <i class="material-icons icon-options">logout</i>
            <span class="ms-3">{{ 'settings.logout' | translate }}</span>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</div>
