<div class="content-wrapper w-100 ">
  <div class="_content d-flex flex-column w-100 h-100 ">

    <div class="d-flex justify-content-between mb-2 px-4 pt-3 w-100">
      <div class="d-flex"></div>
      <div class="p-2">
        <span class="section-title align-self-center">{{ 'settings.main_title' | translate }}</span>
      </div>
      <div class="p-2">
        <div class="ml-auto btn-group dropstart align-self-center">
          <img class="inquiries" src="\assets\Gruppe 223.svg">
        </div>
      </div>
    </div>

    <!-- <mat-slide-toggle>Change Language to English</mat-slide-toggle> -->

    <div class="section-settings align-items-center px-4 w-100">

      <div class="card d-flex flex-column mt-2 mb-2 w-100">
        <ul class="title">{{ 'settings.sub_title_1' | translate }}</ul>
        <ul>
          <img  src="\assets\Gruppe 218.svg"/>
          <span class="ms-3">{{ 'settings.sub_title_1_1' | translate }}</span> 
          <img class="caret-options" src="\assets\Pfad 103.svg">
        </ul>
        <ul>
          <img src="\assets\Gruppe 218.svg"/>
          <span class="ms-3">{{ 'settings.sub_title_1_2' | translate }}</span>
          <img class="caret-options"src="\assets\Pfad 103.svg">
        </ul>
        <ul>
          <img src="\assets\Gruppe 218.svg"/>
          <span class="ms-3">{{ 'settings.sub_title_1_3' | translate }}</span> 
          <img class="caret-options" src="\assets\Pfad 103.svg">
        </ul>
      </div>

      <div class="card d-flex flex-column mt-3 mb-2 w-100">
        <ul class="title">{{ 'settings.sub_title_2' | translate }}</ul>
        <ul>
          <img src="\assets\Gruppe 218.svg">
          <span class="ms-3">{{ 'settings.sub_title_2_1' | translate }}</span>
          <img class="caret-options" src="\assets\Pfad 103.svg">
        </ul>
        <ul>
          <img src="\assets\Gruppe 218.svg">
          <span class="ms-3">{{ 'settings.sub_title_2_2' | translate }}</span>
          <img class="caret-options" src="\assets\Pfad 103.svg">
        </ul>
        <ul>
          <img src="\assets\Gruppe 218.svg">
          <span class="ms-3">{{ 'settings.sub_title_2_3' | translate }}</span>
          <img class="caret-options" src="\assets\Pfad 103.svg">
        </ul>
      </div>

      <div class="official-card d-flex flex-column mt-3 mb-3 w-100">
        <ul class="title">{{ 'settings.sub_title_3' | translate }}</ul>
        <ul>
          <img src="\assets\Gruppe 218.svg">
          <span class="ms-3" (click)="onTermsAndConditionSelected()">{{ 'settings.sub_title_3_1' | translate }}</span>
          <img class="caret-options" src="\assets\Pfad 103.svg" (click)="onTermsAndConditionSelected()">
        </ul>
        <ul>
          <img src="\assets\Gruppe 218.svg">
          <span class="ms-3" (click)="onPolicySelect()">{{ 'settings.sub_title_3_2' | translate }}</span>
          <img class="caret-options" src="\assets\Pfad 103.svg" (click)="onPolicySelect()">
        </ul>
      </div>

      <div class="official-card d-flex mt-3 mb-3 w-100 logout" (click)="onLogoutSelect()">
        <ul class="d-flex w-100" >
          <i class="material-icons px-1" style="background:;" >logout</i>
          <span class="ms-3">{{ 'settings.logout' | translate }}</span>
        </ul>
      </div>
    </div>
    
  </div>
</div>
