<div class="main-wrapper w-100 d-flex flex-column">

  <div class="header-wrapper ">
    <div class="header-content d-flex w-100 justify-content-start p-2">
      
        <img
        src="../assets/logo.svg"
        alt="sekretaer_logo"
        class="bg-white rounded-circle img-responsive shadow-sm"
        style=""
      />
    </div>
  </div>
  <div class="content-wrapper w-100">
     <div class="_content d-flex d-flex flex-column align-items-center w-100 h-100 ">

     </div>
  </div>


  <!-- <div class="snackbar-wrapper p-2 mx-5 align-self-center shadow-lg" *ngFor="let error of errorStack" >
    <app-snackbar [msg] = "error" ></app-snackbar>
  </div> -->

  <div class="d-flex justify-content-evenly bottom-links w-100 my-2 py-2 ">
    <a href="">
      <span>
        Privacy policy
      </span>
    </a>
    <a href="">
      <span>
        Terms & Conditions
      </span>
    </a>
  </div>
  
</div>
