<div class="main-wrapper w-100 d-flex flex-column">

  <div class="header-wrapper ">
    <div class="header-content d-flex w-100 justify-content-start p-2">
      
      <img
        src="../assets/logo.svg"
        alt="sekretaer_logo"
        class="bg-white rounded-circle shadow-sm"
        style=""
      />
    </div>
  </div>

  <router-outlet></router-outlet>
  <!-- <div class="snackbar-wrapper p-2 mx-5 align-self-center shadow-lg" *ngFor="let error of errorStack" >
    <app-snackbar [msg] = "error" ></app-snackbar>
  </div> -->

  <div class="d-flex bottom-links w-100 ">
    
    <app-bottom-nav class="w-100" ></app-bottom-nav>
  </div>
  
</div>
