<div class="main-wrapper w-100 d-flex flex-column">

  <div *ngIf="!isFormSubmmited">

    <form [formGroup]="resetPasswordform" (ngSubmit)="onSubmit()">
  
    <div class="header-wrapper">
        <div class="header-content d-flex flex-column justify-content-center align-items-center w-100 h-100">
  
          <div>
            <img
              [src]="app_logo_link_src"
              alt="sekretaer_logo"
              class="app-logo"
            />
          </div>
          
          <div class="section-header mt-1 px-4">
            <span>{{ "forgot_password.title_forgot_password_1" | translate }}</span>
          </div>
  
          <div class="section-header px-4">
            <span>{{ "forgot_password.title_forgot_password_2" | translate }}</span>
          </div>
  
          <div class="section-header px-4">
            <span>{{ "forgot_password.title_forgot_password_3" | translate }}</span>
          </div>
  
          <div class="section-header-two mt-2 px-4">
            <span>{{ "forgot_password.content_forgot_password" | translate }}</span>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-12">
            <mat-form-field class="material-textfield mt-4 mb-4 px-4" appearance="outline">
              <mat-label>
                {{ "forgot_password.forgot_password_input_lable" | translate }}
              </mat-label>
              <input 
                matInput  
                formControlName="email"
                class="m-3 w-100" 
                required>
            </mat-form-field>
          </div>
  
        </div>
      </div>
    
      <div class="form-wrapper">
        <div class="form-content d-flex flex-column align-items-center w-100 h-100">
  
          <div class="d-flex mx-5 my-5 px-5 w-100 justify-content-center">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-12">

              <button
                id="sign-in-btn"
                class="btn btn-login w-100 py-2"
                [disabled]="!resetPasswordform.valid"
                type="submit"
                style="font-size: 20px">
                    {{ "forgot_password.btn_reset_password" | translate }}
              </button>

            </div>

            </div>

        </div>
      </div>
  
    </form>
    </div>
  
    <div *ngIf="isFormSubmmited">
      <app-forgot-password-email-sent></app-forgot-password-email-sent>
    </div>

  </div>
  
