<div class="main-wrapper w-100 d-flex flex-column">

  <div *ngIf="!isFormSubmmited">
    <form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">
  
    <div class="header-wrapper">
        <div class="header-content d-flex flex-column justify-content-center align-items-center w-100 h-100">
  
          <img
            [src]="app_logo_link_src"
            alt="sekretaer_logo"
            class="app-logo"
            style="margin-top: -70px;"
          />
          
          <div class="section-header mt-1 px-4">
            <span>{{ "login.title_forgot_password_1" | translate }}</span>
          </div>
  
          <div class="section-header px-4">
            <span>{{ "login.title_forgot_password_2" | translate }}</span>
          </div>
  
          <div class="section-header px-4">
            <span>{{ "login.title_forgot_password_3" | translate }}</span>
          </div>
  
          <div class="section-header-two mt-2 px-4">
            <span>{{ "login.content_forgot_password" | translate }}</span>
          </div>
  
          <mat-form-field class="material-textfield mt-1 px-4" appearance="outline">
            <mat-label>
              {{ "login.forgot_password_input_lable" | translate }}
            </mat-label>
            <input 
              matInput 
              type="email"
              [(ngModel)]="email"
              name="email"
              ngModel
              required>
          </mat-form-field>

        </div>
      </div>
    
      <div class="form-wrapper">
        <div class="form-content d-flex d-flex flex-column align-items-center w-100 h-100">
  
          <div class="form-container w-100">
  
              <button
                id="sign-in-btn"
                class="btn btn-login w-100 py-2"
                [disabled]="!(email.length > 1) && !loginForm.valid"
                type="submit"
                style="font-size: 20px">
                    {{ "login.btn_reset_password" | translate }}
              </button>
            
            </div>

        </div>
      </div>
  
    </form>
    </div>
  
    <div *ngIf="isFormSubmmited">
      <app-forgot-password-email-sent></app-forgot-password-email-sent>
    </div>

  </div>
  
