<div class="content-wrapper w-100 ">
    <div class="_content d-flex flex-column w-100 h-100 ">

        <div class="d-flex flex-column justify-content-center mb-2 px-4 pt-3">
            <strong class="section-title align-self-center p-2">{{ 'change-password.page_title' | translate }}</strong>
            <img class="align-self-center mt-1" src="\assets\Gruppe 321.svg"/>
            <p class="align-self-center mt-2">{{ 'change-password.sub_title_1' | translate }}</p>
        </div>

        <div class="d-flex flex-column align-items-center py-4 w-100">
            <span>{{ 'reset-successful.sub_title_1' | translate }}</span>
            <span>{{ 'reset-successful.sub_title_2' | translate }}</span>
        </div>
        
        <div class="form-container d-flex flex-column w-100 h-100">
            <form>
                <div class="py-3 w-100">
                    <button
                      id="proceed-btn"
                      class="btn w-100 py-2" (click)="backToHome()">
                    <span>{{ 'reset-successful.btn_1' | translate }}</span>
                    </button>
                </div>

                <div class="d-flex mt-4" style="cursor:pointer;" (click)="backToSettings()">
                    <div class="d-flex" >
                      <i class="material-icons p-2 ">arrow_back_ios</i>
                    </div>
                    <div class="py-2">
                      <span class="align-self-center">
                          {{ 'reset-successful.btn_2' | translate }}
                      </span>
                    </div>
                </div>

            </form>
        </div>
     

    </div>
</div>

