/* Add application styles & imports to this file! */
// @import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
@import "theme.scss";
:root{

  --primaryColor: #E5007E;
  --primaryColorDark: #D60B51;
  --secondaryColor: #2C262D;
  --primaryIconColor: #D60B51;
  --primaryLightColor: #E5007E8A;
  --primaryLightColor-100: #edcfd6;
  --primaryButtonColor-100:#D8D3E8;
  --primaryButtonColor-200:#EBC3CD;

}

html,
body {
  background-color: #F2F2F2; /*#e6ecf5; rgba(255, 250, 237, 1);*/
  min-height: 100%;
}

.main{
  height: 100vh;
  overflow: hidden;
  background-color: #F2F2F2;
}

.bg-white{
  background-color: #ffffff !important;
}

.snack{
  background-color: #ffff;
  color: #2C262D;
}

.snack_error{
  background-color: #ffff;
  color: #2C262D;
  position: relative;
  text-align: center !important;
  display: flex;
}

.snack_error::before{
  content:url("/assets/error-icon.svg");
  margin-right: 12px;
  align-self: center;
  transform: scale(1.25);
}

.snack_success{
  background-color: #ffffff;
  color: #2C262D;
  position: relative;
  text-align: center !important;
  padding-left: 50px !important;
}

.snack_success::before{
  content:url("/assets/done-icon.svg");
  position: absolute;
  left: 17px;
  top: 13px;
}

.snack_fileType::before{
  content:url("/assets/error-icon.svg");
  position: absolute;
  left: 17px;
  top: 13px;
}

.snack_fileType{
  background-color: #ffffff;
  color: #2C262D;
  position: relative;
  text-align: center !important;
  padding-left: 50px !important;
}

::-webkit-scrollbar {
  width: 0px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
  border-radius: 8px;
}

.multiselect-dropdown .dropdown-btn .selected-item:hover {
  box-shadow: none !important;
}

.multiselect-dropdown .dropdown-btn {
  border: none !important;
}  

.multiselect-dropdown .dropdown-btn .selected-item{
  margin-right: 30px !important;
  background-image: linear-gradient(131deg, var(--primaryColor), var(--primaryColorDark))!important;
  padding: 0 8px !important;
  color: #fff !important;
  border-radius: 2px !important;
  float: left !important;
  display: flex !important;
  max-width: 200px !important;
  max-height: fit-content !important;
}

.bg-dialog-folder .mat-dialog-container{
  /* From https://css.glass */
  background: rgba(218, 216, 216, 0.77);
  border-radius: 16px;
  padding: 5px 5px 15px 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(218, 216, 216, 0.3);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--primaryColor)!important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--primaryLightColor);
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar{
  background-color: var(--primaryLightColor) !important;
}

.mat-disabled {
  opacity: 1 !important;
}

.content-container{
  background: linear-gradient(29deg, var(--primaryColor), var(--primaryColorDark));
  height:85%;
  border-bottom-left-radius:200px;
}

.app-logo{
  height: 148px;
  width: 148px;
  padding: 8px;
  object-fit: contain;
  object-position: center center;
}

.loader { 
  width: 70%; 
  margin: 20px auto;
  position:relative;
  padding:2px;
  background-color:#f2f2f25d;
  z-index:2;
}

.loader:before {
  content:'';
  position:absolute;
  top:-4px; 
  right:-4px; 
  bottom:-4px; 
  left:-4px;
}

.loader .loaderBar { 
  position:absolute;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  width:0;
  background-color:#f8f8ff;
  animation:borealisBar 2s linear infinite;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  display: flex;
  position: absolute;
  top: 0.25em;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: #fff !important;
  border-radius: 5px;
}

.mat-form-field-infix {
  display: flex !important;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border-top:none !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff !important;
}

.mat-form-field-wrapper {
  padding-top:0 !important;
  padding-bottom: 0 !important;
}

.mat-simple-snackbar-action > button { color: var(--primaryColor); }

.mat-snack-bar-container {
  border-radius: 4px;
  box-sizing: border-box;
  display: flex !important;
  margin: 24px;
  max-width: 100%;
  min-width: 344px;
  padding: 14px 16px;
  min-height: 48px;
  transform-origin: center;
  justify-content: space-around !important;
}

.mat-simple-snack-bar-content {
  text-align: left;
}

.mat-snack-bar-handset .mat-snack-bar-container {
  margin: 8px !important;
  width: 80% !important;
  min-width: 0 !important;
}

@keyframes borealisBar {
  0% {
      left:0%;
      right:100%;
      width:0%;
  }
  10% {
      left:0%;
      right:75%;
      width:25%;
  }
  90% {
      right:0%;
      left:75%;
      width:25%;
  }
  100% {
      left:100%;
      right:0%;
      width:0%;
  }
}

