@import url('https://use.typekit.net/myb7tas.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
.content-wrapper{
  overflow: hidden;
  height: 92vh;
  background-color: #F2F2F2;
  background-image: linear-gradient(to right, var(--primaryColor) 50% , #F2F2F2 50%);
  margin-top: 0px !important;
  padding: 0px !important;
}
._content{
  background-color: #F2F2F2;
  border-radius: 45px 0px 0px 0px;
  overflow-y: scroll;
  padding-bottom: 80px;
  font-family:oscine, sans-serif;
}

.section-title{
  text-shadow: none;
  font-size: 20px;
  letter-spacing: 2.5px;
}

.broker{
  padding:12px 45px !important;
  background-color: #fff;
  margin:30px 0;
}

.new-contract{
  text-align: center;
  color: grey;
  margin:10px 15px;
  border-radius: 7px;
  border: none;
  width: 93%;
  padding: 15px;
  background-color: #fff;
  cursor: pointer;
}
.companies-selected{
  background-color: #fff;
  border-radius: 5px;
}
.branches-selected{
  background-color: #fff;
  border-radius:5px;
}

.btn{
  background-image: linear-gradient(131deg, var(--primaryColor), var(--primaryColorDark));
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom:15px;
  width:80%;

}
.btn:hover{
  background-image: linear-gradient(131deg,var(--primaryButtonColor-100), var(--primaryButtonColor-200));
  color: #000;
  border:none;
}



.form-container{
  padding-left: 45px !important;
  padding-right: 45px !important;
  margin-top: 25px;
  width: 100%;
  font-family:oscine, sans-serif;
}
.form-group{
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom:30px;

}
.form-label{
  font-size:1em;
  color:#000;
  transform:translateY(-50%);
  transform-origin:left top;
  transition:0.1s ease-out;
  background-color: inherit;
  display:block ;
  opacity: 1;
  position: absolute;
  left:0;
  top:50%;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
}

.form-control{
  box-shadow: none;
  font-size: 1em;
  outline:none;
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  width:100%;
  transition: 0.1s ease-out;
  padding: 12px 40px;
  margin:8px 0;

}

.form-control:focus{
  border:2px solid  var(--primaryColor);
}
.form-control:focus + .form-label,
.form-control:not(:placeholder-shown)+.form-label{
  color:#000;
  background-color: inherit;
  transform: translateY(-2.5em) scale(.8);
}

.form-control::placeholder{
  color: transparent; 
}

.example-full-width {
  width: 100%;
}
.select_item{
  margin-left:auto;
  margin-right:auto;
  margin-top: 3px;
  margin-bottom: 6px;
  border-radius: 7px;
  border:none;
  width: 90%;
  padding: 15px;
  background-image: linear-gradient(114deg,#fff,#fff,var(--primaryButtonColor-200) 93%);
  cursor: pointer;
  font-family:oscine, sans-serif;
  font-size: 17px;
  color:#707070;
  font-style: normal;
}
.payment_methods{
  margin-left:auto;
  margin-right:auto;
  margin-top: 3px;
  margin-bottom: 6px;
  border-radius: 7px;
  border:none;
  width: 90%;
  padding: 15px;
  background-color: #fff;
  cursor: pointer;
  font-family:oscine, sans-serif;
  font-size: 17px;
  color:#707070;
  font-style: normal;
}

input{
  outline:none;
  border:none;
}

.fileUpload{
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 3px;
  margin-bottom: 6px;
  border-radius: 7px;
  border:#fff;
  width: 90%;
  padding: 15px;
  background-color: #fff;
  cursor: pointer;
  font-family:oscine, sans-serif;
  font-size: 17px;
  color:#707070;
  font-style: normal;
}
.upload-section_a{
  background-color: #fff;
  border-radius: 7px;
  border:#fff;
  font-family:oscine, sans-serif;
  color:#707070;
  font-style: normal;
  font-size: 17px;
  width:90%;
  padding: 15px;
  cursor: pointer;
  
}
.upload-section_b{
  background-color: #fff;
  border-radius: 7px;
  border:#fff;
  font-family:oscine, sans-serif;
  color:#707070;
  font-style: normal;
  font-size: 17px;
  width:10%;
  padding:15px;
  margin-left:3px;
}

.upload-section_b i{
   cursor: pointer;
}
.uploads{
  margin-right:25px;
  margin-left:25px;
  margin-bottom:20px;
  display: block;
}
.subtitle_section{
  font-family:oscine, sans-serif;
  font-size: 17px;
  margin-left:25px;
  color:#707070;
  font-style: normal;
  padding-top:20px;
}

.share{
  margin-left:37px;
  margin-bottom:10px;
  }

.file-input{
  background-color: #fff;
  border: 1px solid black;

}

.file-input::before {
  content: '';
  display: none;
  color:white !important;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  }

.file-input::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
  }
  
  .back{
    cursor:pointer;
  }
  .input-container {
    padding-bottom: 1em;
  }
  .start-date{
    position: relative;
  }

  .start-date i{
    position: absolute;
    right: 0px;
    padding: 12px 20px;
    pointer-events: none;
  }

  .start-date input{
    padding-right: 35px !important;
  }

  .assignment{
    font-family:oscine, sans-serif;
    font-size: 17px;
    margin-left:25px;
    color:#707070;
    font-style: normal;
    padding-top:10px;
  }
  .broker-btn{
    outline:none;
    border:none;
  }
  .acceptShare{
    background-image: linear-gradient(131deg, var(--primaryColor), var(--primaryColorDark));
  }
  .declineShare{
    background-color: #F2F2F2;
  }
  .broker-icon{
    width:48px;
    height:48px;
  }
  .example-full-width{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 3px;
    margin-bottom: 6px;
    border-radius: 7px;
    border:#fff;
    width: 90%;
    background-color: #fff;
    cursor: pointer;
    font-family:oscine, sans-serif;
    font-size: 17px;
    color:#707070;
    font-style: normal;
  }
  
  
  