<div class="content-wrapper w-100 ">
    <div class="_content d-flex flex-column w-100">
        <div  class="form-container">
            <form (ngSubmit)="onSubmit()" class="d-flex flex-column" [formGroup]="contractForm">
                <div class="d-flex justify-content-center mb-2 px-4 pt-3">
                    <strong class="section-title align-self-center p-2">{{ 'new-contract.page_title' | translate }}</strong>
                </div>

                <p class="subtitle_section">{{ 'new-contract.sub_title_1' | translate }}:</p>
                
                <div class="select_item">
                    <ng-multiselect-dropdown
                    [placeholder]="'new-contract.sub_title_1_a' |translate"
                    [settings]="branchSettings"
                    [data]="dataArr"
                    formControlName="selectedBranches"
                    (onSelect)="onBranchSelected($event)"
                    (onDeSelect)="onBranchesDeselected($event)"
                    name ="branches"
                    required
                   >
                    </ng-multiselect-dropdown>
                </div>

                <div class="select_item">
                    <ng-multiselect-dropdown
                    [placeholder]="'new-contract.sub_title_1_b' |translate"
                    [settings]="companySettings"
                    [data]="companyArr"
                    #companyOptions
                    formControlName="selectedCompanies"
                    name="companies"
                    required
                    >
                    </ng-multiselect-dropdown>
                </div>

                <div class="select_item">
                    <ng-multiselect-dropdown
                    [placeholder]="'new-contract.sub_title_1_c' |translate"
                    [settings]="productSettings"
                    [data]="productArr"
                    #productOptions
                    formControlName="selectedProducts"
                    name="products"
                    required
                    >
                    </ng-multiselect-dropdown>
                </div>

         
                <p class="subtitle_section">{{ 'new-contract.sub_title_2' | translate }}:</p>

                <div>
                    <mat-form-field class="example-full-width" [appearance]="none">
                        <input matInput [matDatepicker]="picker" matDatepickerToggleIcon
                        placeholder= "{{'new-contract.sub_title_2_placeholder_a' | translate }}" 
                        readonly
                        (click)="picker.open()"
                        name="startDate"
                        formControlName="startDate"
                        required>
                        <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="false">
                            <mat-icon class="dateIcon" matDatepickerToggleIcon>arrow_drop_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker [disabled]="false"></mat-datepicker>
                    </mat-form-field>
                </div>
              
                <div>
                    <mat-form-field class="example-full-width" [appearance]="none">
                        <input matInput [matDatepicker]="pickerDate"
                         placeholder="{{'new-contract.sub_title_2_placeholder_b' | translate }}"
                         readonly
                         (click)="pickerDate.open()"
                         formControlName="endDate"
                         required>
                        <mat-datepicker-toggle matIconSuffix [for]="pickerDate" [disabled]="false">
                            <mat-icon class="dateIcon" matDatepickerToggleIcon>arrow_drop_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #pickerDate [disabled]="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                  
                <div class="fileUpload">
                    <ng-multiselect-dropdown
                    [placeholder]="'new-contract.sub_title_2_a' | translate "
                    [settings]="paymentMethodSettings"
                    (onSelect)="onPaymentMethodSelected($event)"
                    [data]="paymentMethodsList"
                    name="paymentMethod"
                    formControlName="PaymentMethod"
                    required
                    >
                    </ng-multiselect-dropdown>
                </div>

                <div class="fileUpload ">
                    <ng-multiselect-dropdown
                    placeholder="{{ 'new-contract.status_reason' | translate }}"
                    [settings]="statusReasonSettings"
                    (onSelect)="onStatusReasonSelected($event)"
                    [data]="statusReasonList"
                    name="StatusReason"
                    formControlName="StatusReason"
                    required
                    >
                    </ng-multiselect-dropdown>
                </div>
                  
                <div class="amount">
                    <input   [required]="optionSelected" style="width: 100%;" 
                    type="number" placeholder="{{'new-contract.sub_title_2_b' | translate }}"
                    id="Amount" min="1" name="amount" formControlName="amount" required />
                </div>
                    

                <div class="risk">
                    <input type="text" placeholder="{{'new-contract.risk' | translate }}" name="Risk"formControlName="Risk"  required/>
                </div>

                <input class="risk" type="text" placeholder="{{'new-contract.insurance_number' | translate }}" formControlName="insuranceNumber"/>
                
                <p class="subtitle_section">{{'new-contract.sub_title_3' | translate }}:</p>

                <div class="d-flex flex-column">
                    <div class="d-flex flex-row uploads">
                        <div class="d-flex flex-column upload-section_a"(click)="selectFile.click()">{{'new-contract.sub_title_3_a' | translate }}</div>
    
                        <div class="d-flex flex-column upload-section_b align-items-center">
                            <input 
                                class="file-input"
                                hidden
                                #selectFile
                                id="selectFile"
                                (change)="getFile($event)"
                                type="file"
                                accept=".pdf,.jpeg,.jpg"
                                required
                                name="File"
                                formControlName="file"
                                    />
                                <i class="material-icons"(click)="selectFile.click()">add</i>
                        </div>
                    </div>

                    <app-upload-file class="fileUpload"  *ngFor="let uploadFile of uploadFileArr" [uploadFile]="uploadFile" (deleteFile)="removeFile($event)"></app-upload-file>

                </div>
            

                <div class="d-flex flex-row assignment">
                        <span class="broker-btn" (click)="onShareWithBroker()">
                            <img class="broker-icon" [src]="broker_icon_link">
                            <input type="hidden" formControlName="SharedWithBroker" name="SharedWithBroker" required>
                        </span>
                        <p class="m-2">{{'new-contract.share_broker' | translate }}</p>
                </div>

                <button class="btn py-2"
                    #submitButton
                    type="submit" 
                    [disabled]="(!contractForm.valid)||submitted"
                    >
                    <span *ngIf="submitted" class="spinner-border" style="width: 1.5rem; height: 1.5rem;" role=""></span>
                    <span *ngIf="!submitted">{{'new-contract.submit_btn' | translate }}</span>
                </button>

                <div class="d-flex uploads back" (click)="onBackNavClick()" >
                    <i class="material-icons py-2 back-arrow-icon">arrow_back_ios</i>
                    <span class="py-2">{{'new-contract.back_btn' | translate }}</span>
                </div>
            </form>

       

        </div> 
    </div>
</div>

