<div class="content-wrapper w-100 ">
    <div class="_content d-flex flex-column w-100 h-100 ">
        <div  class="form-container">
            <form (ngSubmit)="onSubmit(contractForm.value)" class="d-flex flex-column" #contractForm="ngForm">
                <div class="d-flex justify-content-center mb-2 px-4 pt-3">
                    <strong class="section-title align-self-center p-2">NEW INSURANCE</strong>
                </div>

                <p class="subtitle_section">Please Select Categories:</p>
                
                <div class="select_item">
                    <ng-multiselect-dropdown
                    [placeholder]="'Please Select Branch'"
                    [settings]="branchSettings"
                    [data]="dataArr"
                    [(ngModel)]="selectedBranches"
                    (onSelect)="onBranchSelected($event)"
                   >
                    </ng-multiselect-dropdown>
                </div>

                <div class="select_item">
                    <ng-multiselect-dropdown
                    [placeholder]="'Please select Company'"
                    [settings]="companySettings"
                    [data]="companyArr"
                    (onSelect)="onCompanySelected($event)"
                    [(ngModel)]="selectedCompanies">
                    </ng-multiselect-dropdown>
                </div>

                <div class="select_item">
                    <ng-multiselect-dropdown
                    [placeholder]="'Please select Product'"
                    [settings]="productSettings"
                    (onSelect)="onProductSelected($event)"
                    [data]="productArr"
                    [(ngModel)]="selectedProducts"
                    >
                    </ng-multiselect-dropdown>
                </div>

                <p class="subtitle_section">Please Enter Risk:</p>

                    <input  ngModel [required]="optionSelected" 
                    type="text" placeholder="Start Date" 
                    onclick="(this.type='date')"
                    class="form-control" id="end" name="end" class="fileUpload"/>
                    
                    <input  ngModel [required]="optionSelected" 
                    type="text" placeholder="End Date" 
                    onclick="(this.type='date')"
                     class="form-control" id="end" name="end" class="fileUpload"/>


                     <div class="fileUpload">
                        <ng-multiselect-dropdown
                        [placeholder]="'Payment Method'"
                        [settings]="paymentMethodSettings"
                        (onSelect)="onPaymentMethodSelected($event)"
                        [data]="paymentMethodsList"
                        >
                        </ng-multiselect-dropdown>
                    </div>
                  

                    <input  ngModel [required]="optionSelected"  
                    type="text" placeholder="Amount" class="form-control" 
                    id="Amount" name="Amount" class="fileUpload"/>
                    
               <p class="subtitle_section">File for Preview:</p>

                <div class="d-flex flex-row uploads">
                    <div class="d-flex flex-column upload-section_a"(click)="selectFile.click()">Add Document</div>

                    <div class="d-flex flex-column upload-section_b align-items-center">
                        <input 
                        class="file-input"
                        hidden
                        #selectFile
                        id="selectFile"
                        (change)="getFile($event)"
                        type="file"
                        accept="application/pdf"
                        name="file"
                        ngModel
                        required
                            />
                            <i class="material-icons"(click)="selectFile.click()">add</i>
                    </div>
                    
                </div>

               <div class="d-flex justify-content-between fileUpload " *ngIf="show">
                    <div *ngFor="let uploadFile of uploadFileArr">{{uploadFile.fileName}}<br>
                        {{uploadFile.fileSize}}
                    </div>
                    <div class=" ml-auto align-self-end  e-icons e-file-delete-btn" (change)="deleteFile($event)"
                    title="Delete file">
                        <i class="material-icons">delete</i>
                    </div>
               </div>

               <div class="d-flex flex-row assignment">
                <span class="broker-btn" (click)="onShareWithBroker()">
                    <img class="broker-icon" [src]="broker_icon_link">
                </span>
                <p class="m-2">Share with Broker</p>
              </div>

                <button class="btn py-2" type="submit">SAVE INSURANCE</button>

                <div class="d-flex uploads back" (click)="onBackNavClick()" >
                    <i class="material-icons py-2 back-arrow-icon">arrow_back_ios</i>
                    <span class="py-2">Back</span>
                </div>
        </form>

       

        </div> 
    </div>
</div>

