<div class="content-wrapper w-100 ">
    <div class="_content d-flex flex-column w-100 h-100 ">
        <div  class="form-container">
            <form (ngSubmit)="onSubmit(contractForm.value)" class="d-flex flex-column" #contractForm="ngForm">
                <div class="d-flex justify-content-center mb-2 px-4 pt-3">
                    <strong class="section-title align-self-center p-2">{{ 'new-contract.page_title' | translate }}</strong>
                </div>

                <p class="subtitle_section">{{ 'new-contract.sub_title_1' | translate }}</p>
                
                <div class="select_item">
                    <ng-multiselect-dropdown
                    [placeholder]="'new-contract.sub_title_1_a' |translate"
                    [settings]="branchSettings"
                    [data]="dataArr"
                    [(ngModel)]="selectedBranches"
                    (onSelect)="onBranchSelected($event)"
                   >
                    </ng-multiselect-dropdown>
                </div>

                <div class="select_item">
                    <ng-multiselect-dropdown
                    [placeholder]="'new-contract.sub_title_1_b' |translate"
                    [settings]="companySettings"
                    [data]="companyArr"
                    (onSelect)="onCompanySelected($event)"
                    [(ngModel)]="selectedCompanies">
                    </ng-multiselect-dropdown>
                </div>

                <div class="select_item">
                    <ng-multiselect-dropdown
                    [placeholder]="'new-contract.sub_title_1_c' |translate"
                    [settings]="productSettings"
                    (onSelect)="onProductSelected($event)"
                    [data]="productArr"
                    [(ngModel)]="selectedProducts"
                    >
                    </ng-multiselect-dropdown>
                </div>

         
                <p class="subtitle_section">{{ 'new-contract.sub_title_2' | translate }}:</p>

                <div class="dates">
                    <mat-form-field class="example-full-width" appearance="none">
                        <input matInput [matDatepicker]="picker" 
                        placeholder= "{{'new-contract.sub_title_2_placeholder_a' | translate }}" disabled>
                        <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="false">
                            <mat-icon class="dateIcon" matDatepickerToggleIcon>arrow_drop_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker [disabled]="false"></mat-datepicker>
                    </mat-form-field>
                </div>
              
                <div class="dates">
                    <mat-form-field class="example-full-width" appearance="none">
                        <input matInput [matDatepicker]="pickerDate"
                         placeholder="{{'new-contract.sub_title_2_placeholder_b' | translate }}" disabled>
                        <mat-datepicker-toggle matIconSuffix [for]="pickerDate" [disabled]="false">
                            <mat-icon class="dateIcon" matDatepickerToggleIcon>arrow_drop_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #pickerDate [disabled]="false"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  


                     <div class="fileUpload dates">
                        <ng-multiselect-dropdown
                        [placeholder]="'new-contract.sub_title_2_a' | translate "
                        [settings]="paymentMethodSettings"
                        (onSelect)="onPaymentMethodSelected($event)"
                        [data]="paymentMethodsList"
                        >
                        </ng-multiselect-dropdown>
                    </div>
                  

                    <input  ngModel [required]="optionSelected"  
                    type="text" placeholder="{{'new-contract.sub_title_2_b' | translate }}" class="form-control" 
                    id="Amount" name="Amount" class="amount"/>
                    
                    <p class="subtitle_section">{{'new-contract.sub_title_3' | translate }}:</p>

                <div class="d-flex flex-row uploads">
                    <div class="d-flex flex-column upload-section_a"(click)="selectFile.click()">{{'new-contract.sub_title_3_a' | translate }}</div>

                    <div class="d-flex flex-column upload-section_b align-items-center">
                        <input 
                        class="file-input"
                        hidden
                        #selectFile
                        id="selectFile"
                        (change)="getFile($event)"
                        type="file"
                        accept="application/pdf"
                        name="file"
                        ngModel
                        required
                            />
                            <i class="material-icons"(click)="selectFile.click()">add</i>
                    </div>
                    
                </div>

               <div class="d-flex justify-content-between fileUpload " *ngIf="show">
                    <div *ngFor="let uploadFile of uploadFileArr">{{uploadFile.fileName}}<br>
                        {{uploadFile.fileSize}}
                    </div>
                    <div class=" ml-auto align-self-end  e-icons e-file-delete-btn" (change)="deleteFile($event)"
                    title="Delete file">
                        <i class="material-icons">delete</i>
                    </div>
               </div>

               <div class="d-flex flex-row assignment">
                <span class="broker-btn" (click)="onShareWithBroker()">
                    <img class="broker-icon" [src]="broker_icon_link">
                </span>
                <p class="m-2">{{'new-contract.share_broker' | translate }}</p>
              </div>

                <button class="btn py-2" type="submit">{{'new-contract.submit_btn' | translate }}</button>

                <div class="d-flex uploads back" (click)="onBackNavClick()" >
                    <i class="material-icons py-2 back-arrow-icon">arrow_back_ios</i>
                    <span class="py-2">{{'new-contract.back_btn' | translate }}</span>
                </div>
        </form>

       

        </div> 
    </div>
</div>

