<div class="content-wrapper w-100 ">
  <div class="_content d-flex flex-column w-100 h-100 bg-">

    <!-- new top line -->
    <div class="d-flex justify-content-between mb-2 px-4 pt-3">
      <div class="d-flex"></div>
      <div class="p-2">
        <span class="section-title align-self-center" (click)="collapse()">
          {{ "overview.title_my_sekretar" | translate }}
        </span>
      </div>
      <div class="p-2">
        <div class="ml-auto btn-group dropstart align-self-center">
          <img class="filter-icon" data-bs-toggle="dropdown" aria-expanded="false" src="/assets/icon_filter_dark.svg">
          <ul class="dropdown-menu shadow">
            <li><span class="dropdown-item" (click)="onAddContract()">{{"overview.contract_menu.title_new_contract" | translate }}</span></li>
            <li><span class="dropdown-item" (click)="onSearchContractsClicked()">{{"overview.contract_menu.search" | translate }}</span></li>
            <li><span class="dropdown-item" (click)="sortByContractTitle()">{{ "overview.contract_menu.sort_by_a_to_z" | translate }}</span></li>
            <li><span class="dropdown-item" (click)="sortByContractDate()">{{ "overview.contract_menu.sort_by_date" | translate }}</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="section-insurance w-100 d-flex flex-column align-items-center bg-">

      <div class="w-100 d-flex flex-wrap p-3 py-3 justify-content-center">

        <div class="cards bg- w-100 d-flex flex-column align-items-center mt-1" id="cards" [ngClass]="{'transition':!collapsed}">
        

          <div class="w-100 d-flex a_card card-1" (swipe)="onContractSwipe($event,allContractsArr[2])" >
            <app-fav-item class="col-12 m-1" [ngClass]="{'swipedLeft':allContractsArr[2].swipedLeft}" [contractItem]=allContractsArr[2] (tap)="onCardClick(allContractsArr[2])" *ngIf="showCard1" ></app-fav-item>
              <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center"
                  [ngClass]="{'d-none':!allContractsArr[2].swipedLeft}">
                  <i class="material-icons contractIcons mb-1"  (click) ="renameContract(allContractsArr[2])">mode_edit</i>
              </div>
          </div>

        

          <div class="w-100 d-flex a_card card-2"(swipe)="onContractSwipe($event,allContractsArr[1])">
                <app-fav-item class="col-12 m-1" [ngClass]="{'swipedLeft':allContractsArr[1].swipedLeft}" [contractItem]=allContractsArr[1] (tap)="onCardClick(allContractsArr[1])" *ngIf="showCard2"></app-fav-item>
                <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center"
                [ngClass]="{'d-none':!allContractsArr[1].swipedLeft}">
                  <i class="material-icons contractIcons mb-1"  (click) ="renameContract(allContractsArr[1])">mode_edit</i>
                </div>
          </div>

          <div class="w-100 d-flex a_card card-3"(swipe)="onContractSwipe($event,allContractsArr[0])">
            <app-fav-item class="col-12 m-1" [ngClass]="{'swipedLeft':allContractsArr[0].swipedLeft}" [contractItem]=allContractsArr[0] (tap)="onDefaultInsuranceCardClick()"></app-fav-item>
            <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center"
            [ngClass]="{'d-none':!allContractsArr[0].swipedLeft}">
              <i class="material-icons contractIcons mb-1"  (click) ="renameContract(allContractsArr[0])">mode_edit</i>
            </div>
          </div>
        </div>
        
        <div class="w-100 d-flex flex-column align-items-center extra-cards" id="extra-cards" [ngClass]="{'show':!collapsed}">
          <div class="contractsubset d-flex" *ngFor="let item of subsetArr;let i = index">
            <app-fav-item class="col-12 m-1" [ngClass]="{'swipedLeft':item.swipedLeft}" [contractItem]=item (swipe)="onContractSwipe($event,item)" (tap)="onCardClick(item)"></app-fav-item>
            <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center"  [ngClass]="{'d-none':!item.swipedLeft}">
              <i class="material-icons mb-1 contractIcons"   (click) ="renameContract(item)">mode_edit</i>
            </div>
          </div>
        </div>

      </div>
      
      <div class="section-folder d-flex flex-column p-4 w-100 bg-white">
      
        <!-- new line -->
        <div class="d-flex justify-content-between mb-2 px-2 pt-2">

          <div class="d-flex"></div>
    
          <div class="p-2">
            <span class="section-title align-self-center" (click)="collapseFolders()">
              {{ "overview.title_my_folders" | translate }}
            </span>
          </div>
    
          <div class="p-2">
            <div class="ml-auto btn-group dropstart align-self-center">
              <img class="filter-icon" data-bs-toggle="dropdown" aria-expanded="false" src="/assets/icon_filter_dark.svg">
              <ul class="dropdown-menu shadow">
                <li><span class="dropdown-item" (click)="addNewFolder()">{{ "overview.folder_menu.title_new_folder" | translate }}</span></li>
                <li><span class="dropdown-item" (click)="onSearchFoldersClicked()">{{ "overview.folder_menu.search" | translate }}</span></li>
                <li><span class="dropdown-item" (click)="sortByFolderTitle()">{{ "overview.folder_menu.sort_by_a_to_z" | translate }}</span></li>
                <li><span class="dropdown-item" (click)="sortByFolderDate()">{{ "overview.folder_menu.sort_by_date" | translate }}</span></li>
              </ul>
            </div>
          </div>
    
        </div>

        <div class="w-100 d-flex flex-wrap py-3 justify-content-center">
              
        <div class="folders w-100 d-flex flex-column align-items-center mt-1 bg-" id="folders" [ngClass]="{'transition':!collapsedFolders}">
            <div class="w-100 d-flex a_card card-1"(swipe)="onFolderSwipe($event,foldersArr[2])">
              <app-folder-card class=" col-12 m-1"  [ngClass]="{'swipedLeft':foldersArr[2].swipedLeft}" [folder]=foldersArr[2] (tap)="onFolderCardClick(foldersArr[2])" *ngIf="showFolderCard1" ></app-folder-card>
              <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center" 
                  [ngClass]="{'d-none':!foldersArr[2].swipedLeft}"
                  >
                    <i class="material-icons folderIcons mb-1"(click) ="renameFolderModal(foldersArr[2])">mode_edit</i>
                    <i  class="material-icons folderIcons d-flex justify-content-center" (click)=" addFolderDoc(foldersArr[2])">add</i>
              </div>
            </div>

            <div class="w-100 d-flex a_card card-2"(swipe)="onFolderSwipe($event,foldersArr[1])">
              <app-folder-card class=" col-12 m-1"  [ngClass]="{'swipedLeft':foldersArr[1].swipedLeft}" [folder]=foldersArr[1] (tap)="onFolderCardClick(foldersArr[1])" *ngIf="showFolderCard2" ></app-folder-card>
              <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center" 
                  [ngClass]="{'d-none':!foldersArr[1].swipedLeft}"
                 >
                    <i class="material-icons folderIcons mb-1"  (click) ="renameFolderModal(foldersArr[1])">mode_edit</i>
                    <i  class="material-icons folderIcons d-flex justify-content-center" (click)=" addFolderDoc(foldersArr[1])">add</i>
              </div>
            </div>

            <div class="w-100 d-flex a_card card-3"(swipe)="onFolderSwipe($event,foldersArr[0])">
              <app-folder-card class=" col-12 m-1"  [ngClass]="{'swipedLeft':foldersArr[0].swipedLeft}" [folder]=foldersArr[0] (tap)="onDefaultFolderCardClick()"></app-folder-card>
              <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center" 
                  [ngClass]="{'d-none':!foldersArr[0].swipedLeft}"
                 >
                    <i class="material-icons folderIcons mb-1"  (click) ="renameFolderModal(foldersArr[0])">mode_edit</i>
                    <i  class="material-icons folderIcons d-flex justify-content-center" (click)=" addFolderDoc(foldersArr[0])">add</i>
              </div>
            </div>

        </div>

          
          <div class="w-100 d-flex flex-column  align-items-center extra-folders bg-" id="extra-folders" [ngClass]="{'show':!collapsedFolders}">
            <div class="foldersubset d-flex" *ngFor="let item of folderSubsetArr; let i = index">
                <app-folder-card class="col-12 m-1" [ngClass]="{'swipedLeft':item.swipedLeft}" [folder]=item  (swipe)="onFolderSwipe($event,item)" (tap)="onFolderCardClick(item)"></app-folder-card>

                <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center bg-white" 
                  [ngClass]="{'d-none':!item.swipedLeft}"
               >
                    <i class="material-icons folderIcons mb-1"   (click) ="renameFolderModal(item)">mode_edit</i>
                    <i  class="material-icons  folderIcons d-flex justify-content-center" (click) ="addFolderDoc(item)">add</i>
                </div>
            </div>
           
          </div>

        </div>
    
      </div>
    </div>
  </div>
</div>