<div class="content-wrapper w-100 ">
  <div class="_content d-flex d-flex flex-column w-100 h-100 bg-">
    <div class="section-title w-100 d-flex justify-content-center pt-3 " (click)="collapse()">
      <strong class=" align-self-center p-2 "> MY SEKRETÄR</strong>
      <i class="material-icons mx-2 align-self-center collapse-icon" *ngIf="!collapsed">expand_less</i>
      <i class="material-icons mx-2 align-self-center collapse-icon" *ngIf="collapsed">expand_more</i>
     
    </div>

    <div class="section-insurance w-100 d-flex flex-column align-items-center bg-">
      <div class="cards w-100 d-flex flex-column align-items-center mt-1 bg-" id="cards" [ngClass]="{'transition':!collapsed}">
      
        <app-fav-item class="a_card card-1" [contractItem]=allContractsArr[2] (click)="onCardClick(allContractsArr[2])" *ngIf="showCard1" ></app-fav-item>
        <app-fav-item class="a_card card-2" [contractItem]=allContractsArr[1] (click)="onCardClick(allContractsArr[1])" *ngIf="showCard2"></app-fav-item>
        <app-fav-item class="a_card card-3" [contractItem]=allContractsArr[0] (click)="onDefaultInsuranceCardClick()"></app-fav-item>
        
      </div>
      <div class="w-100 d-flex flex-column align-items-center extra-cards bg-" id="extra-cards" [ngClass]="{'show':!collapsed}">
        <app-fav-item *ngFor="let item of subsetArr" [contractItem]=item  (click)="onCardClick(item)"></app-fav-item>
      </div>
      
      <div class="section-folder d-flex flex-column p-3 w-100 ">
        <strong class="section-title align-self-center p-2"> MY FOLDERS</strong>

        <div class="w-100 d-flex flex-wrap py-3 justify-content-center">
          
          <app-folder-card class="my-2" *ngFor="let folder of foldersArr" [folder]=folder ></app-folder-card>

        </div>
    
      </div>
    </div>
  </div>
</div>