@import url('https://use.typekit.net/myb7tas.css');
.filter-icon{
  width: 20px;
  height: 20px;
  cursor:pointer;
}
.content-wrapper{
  height: 92vh;
  background-color: #F2F2F2;
  background-image: linear-gradient(to right, var(--primaryColor) 50% , #F2F2F2 50%);
  margin-top: 0px !important;
  padding: 0px !important;
}
._content{
  background-color: #F2F2F2;
  border-radius: 45px 0px 0px 0px;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 60px;
  font-family: oscine, sans-serif;
}
*{
  touch-action: pan-y !important;
}
.section-title{
  text-shadow: none;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2.5px;
  cursor:pointer;
}

.title{
  cursor: pointer;
}
.collapse-icon{
  cursor: pointer;
}
.section-insurance{
  min-height: 280px;
  height: inherit;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
.collapse-insurance{
 color: #707070;
 cursor: pointer;
}

.quick-fab{
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: solid 1px white;
  border-color: rgba(0,0,0,.05);
  background-color: white;
  color: var(--primaryColorDark);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  position: relative;
  cursor: pointer;
}
.quick-fab i {
  font-size: 30px;
}
.quick-fab span{
  font-size: 28px;
}

.cards{
  min-height: 230px;
  height: 230px;
  width: 100%;
  position: relative;
  z-index: 15;
}
.folders{
  min-height: 230px;
  height: 230px;
  width: 100%;
  position: relative;
}
.a_card{
  position: absolute;
  margin-bottom: 10px;
  transition: all 0.2s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}
.card-1{
  // z-index: 8;
  transform: translateY(30px);
  transition-delay: 0.2s;
  opacity: 0.5;
}
.card-2{
  // z-index: 9;
  transform: translateY(15px);
  transition-delay: 0.1s;
  opacity: 1;
}
.card-3{
  // z-index: 10;
  transform: translateY(0px);
}
.cards.transition .card-2{
  transform: translateY(190px);
  opacity: 1;
}
.cards.transition .card-1{
  transform: translateY(380px);
  opacity: 1;
}
.folders.transition .card-2{
  transform: translateY(190px);
  opacity: 1;
}
.folders.transition .card-1{
  transform: translateY(380px);
  opacity: 1;
}
app-fav-item{
  margin-bottom: 10px;
  cursor: pointer;
}
.extra-cards{
  display: none !important;
  opacity: 0;
  transition: opacity 0.4s;
  position: relative;
}
.extra-cards.show{
  display: flex !important;
}
app-folder-card{
  margin-bottom: 10px;
  cursor: pointer;
}
.extra-folders{
  display: none !important;
  opacity: 0;
  transition: opacity 0.4s;
  position: relative;
}
.extra-folders.show{
  display: flex !important;
}
.section-folder{
  background-color: white;
  border-radius: 0px 45px 0px 0px;
  box-shadow: 0px 0px 3px #0000001a;
  padding-bottom:30px;
}
.dropdown-item{
  cursor: pointer;
}

/* webkit browsers like chrome */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #009ee2;
  border-radius: 8px;
}
/* for mozilla */
*{
  scrollbar-width: none !important;
}
.edit-rename{
  width: 52px;
  height: 42px;
  border-radius: 8px;
  margin-left: 10px !important;
  cursor: pointer;
}
 .swipedLeft{
  margin-left: -52px !important;
}
.back-arrow-icon{
  cursor:pointer;
}
.foldersubset{
  width: 100%;
}
.editIcons{
  background-color: #848484;
  padding: 5px;
  border-radius: 5px;
}
.folderIcons{
  background-color: #F2F2F2;
  padding: 5px;
  border-radius: 5px;
}
.contractsubset{
  width: 100%;
}
.contractIcons{
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
