<div class="w-100 m-2 d-flex justify-content-between"  style="cursor:pointer;" *ngIf="showTitle">
  <div class="p-2">
    <span class="section-title align-self-center" (click)="collapsed ? onDefaultInsuranceCardClick():collapse()">
      {{ groupTitle }}
    </span>
  </div>
  <div class="p-2 d-flex justify-content-center">
    <span class="" (click)="collapse()" *ngIf="!collapsed && templateContractArrLength>1" > Collapse group </span>
    <i class="material-icons" *ngIf="!collapsed && templateContractArrLength>1" >arrow_drop_up</i>
    <span class="" (click)="onDefaultInsuranceCardClick()" *ngIf="collapsed" > Expand group </span>
    <i class="material-icons" *ngIf="collapsed" > arrow_drop_down </i>
  </div>
</div>
<div class="cards bg- w-100 d-flex flex-column align-items-center mt-1" id="cards" #cards *ngIf="templateContractArrLength>0" [ngClass]="{'transition':!collapsed}">

    <div class="w-100 d-flex a_card card-1" (swipe)="onContractSwipe($event,localGroup[2])" *ngIf="showCard1"  >
      <app-fav-item class="col-12 m-1" [ngClass]="{'swipedLeft':localGroup[2].swipedLeft}" [collapsed]="collapsed" [contractItem]=localGroup[2] ></app-fav-item>
        <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center"
            [ngClass]="{'d-none':!localGroup[2].swipedLeft}">
            <i class="material-icons contractIcons mb-1"  (click) ="renameContract(localGroup[2])">mode_edit</i>
            <i  class="material-icons contractIcons d-flex justify-content-center"(click)="addContractDoc(localGroup[2])">add</i>
        </div>
    </div>

    <div class="w-100 d-flex a_card card-2"(swipe)="onContractSwipe($event,localGroup[1])" *ngIf="showCard2">
          <app-fav-item class="col-12 m-1" [ngClass]="{'swipedLeft':localGroup[1].swipedLeft}" [collapsed]="collapsed" [contractItem]=localGroup[1] ></app-fav-item>
          <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center"
          [ngClass]="{'d-none':!localGroup[1].swipedLeft}">
            <i class="material-icons contractIcons mb-1"  (click) ="renameContract(localGroup[1])">mode_edit</i>
            <i  class="material-icons contractIcons d-flex justify-content-center" (click)="addContractDoc(localGroup[1])" >add</i>
          </div>
    </div>

    <div class="w-100 d-flex a_card card-3" (swipe)="onContractSwipe($event,localGroup[0])">
        <app-fav-item 
            #defaultContractCard class="col-12 m-1" 
            [ngClass]="{'swipedLeft':localGroup[0].swipedLeft}" 
            [collapsed]="collapsed" 
            [contractItem]=localGroup[0] 
            (click)="collapsed ? onDefaultInsuranceCardClick():false" 
            *ngIf="showCard3">
        </app-fav-item>
    
      <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center"
        [ngClass]="{'d-none':!localGroup[0].swipedLeft}">
            <i class="material-icons contractIcons mb-1"  (click) ="renameContract(localGroup[0])">mode_edit</i>
            <i  class="material-icons contractIcons d-flex justify-content-center" (click)="addContractDoc(localGroup[0])">add</i>
      </div>

    </div>

  </div>
  
  <div class="w-100 d-flex flex-column align-items-center extra-cards" id="extra-cards" #extraCards [ngClass]="{'show':!collapsed}" *ngIf="subsetArr.length>0">
    <div class="contractsubset d-flex" *ngFor="let item of subsetArr;let i = index">
      <app-fav-item class="col-12 m-1" [ngClass]="{'swipedLeft':item.swipedLeft}" [collapsed]="collapsed" [contractItem]=item (swipe)="onContractSwipe($event,item)" ></app-fav-item>
      <div class="edit-rename d-flex flex-column p-2 align-self-center justify-content-center align-items-center"  [ngClass]="{'d-none':!item.swipedLeft}">
        <i class="material-icons mb-1 contractIcons"   (click) ="renameContract(item)">mode_edit</i>
        <i  class="material-icons contractIcons d-flex justify-content-center" (click) = "addContractDoc(item)">add</i>
      </div>
    </div>
  </div>
